<div style="padding : 0px 50px">
<table cellspacing="0" border="0">
	<colgroup span="16" width="64"></colgroup>
	<tr>
		<td colspan=15 height="82" align="center" valign=middle><b><u><font face="Kunstler Script" size=7>Raha Exports</font></u></b></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=15 height="20" align="center" valign=bottom>                  OFF NO. JW 1010, BHARAT DIAMOND BOURSE, BANDRA KURLA COMPLEX, BANDRA (EAST) </td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=15 height="20" align="center" valign=bottom>                                           MUMBAI 400051 TEL NO. 022-23625188</td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=16 rowspan=2 height="41" align="center" valign=middle bgcolor="#B9CDE5"><b><font face="Bookman Old Style" size=6 color="#000000">Tax Invoice</font></b></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=8 height="20" align="left" valign=top><b><font color="#000000">Invoice No:  {{salesData[0].invoice_number}}</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="left" valign=bottom><b><font color="#000000">Transport Mode:  N.A.</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" colspan=8 height="20" align="left" valign=top><b><font color="#000000">Invoice date:  {{salesData[0].sales_date}}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="left" valign=bottom><b><font color="#000000">TERMS  OF  PAYMENT  :  C O D</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=7 height="20" align="left" valign=top><b><font color="#000000">Reverse Charge (Y/N):   N</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" align="left" valign=top><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="left" valign=bottom><b><font color="#000000">Date of Supply:  N.A.</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="left" valign=top><b><font color="#000000">State:  MAHARASHTRA</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font color="#000000">Code  27</font></b></td>
		<td style="border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-right: 1px solid #000000" colspan=8 align="left" valign=bottom><b><font color="#000000">Place of Supply :  N.A.</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=16 height="20" align="center" valign=bottom><b><font color="#000000"><br></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 height="20" align="center" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">Bill to Party</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="center" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">Ship to Party</font></b></td>
		</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="20" align="left" colspan = "8" valign=bottom><b><font face="Arial">{{salesData[0].account_name}}</font></b></td>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" colspan="8" valign=bottom><b><font face="Arial">{{salesData[0].account_name}}</font></b></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="20" align="left" colspan = "8" valign=bottom><font face="Arial">AW-4070, BHARAT DIAMOND BOURSE</font></td> 
		<td style="border-left: 1px solid #000000 ; border-right: 1px solid #000000" align="left" valign=bottom colspan="8"><font face="Arial">AW-4070, BHARAT DIAMOND BOURSE</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="20" align="left" colspan = "8" valign=bottom><font face="Arial">BKC, BANDRA (E) MUMBAI -400051</font></td>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" colspan = "8" valign=bottom><font face="Arial">BKC, BANDRA (E) MUMBAI -400051</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="20" align="left" colspan = "8" valign=bottom><font face="Arial">Mumbai - 400 051.</font></td>
		<td style="border-left: 1px solid #000000 ; border-right: 1px solid #000000" align="left" colspan = "8" valign=bottom><font face="Arial">Mumbai - 400 051.</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 height="20" align="left" valign=top><b><font color="#000000">GSTIN:    27AAACS5154XXXXX</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="left" valign=top><b><font color="#000000">GSTIN:    27AAACS5154XXXXX</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="20" align="left" valign=bottom><b><font color="#000000">State:  MAHARASHTRA</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font color="#000000">Code  27</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 align="left" valign=bottom><b><font color="#000000">State:  MAHARASHATRA</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font color="#000000">Code  27</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=16 height="21" align="center" valign=bottom><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 height="40" align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">S. No.</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">Product Description</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">HSN code</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">UOM</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">Qty</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">Rate</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">Amount</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">Discount</font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=1 color="#000000">Taxable Value</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">CGST</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">SGST</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 rowspan=2 align="center" valign=middle bgcolor="#B9CDE5"><b><font size=3 color="#000000">Total</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#B9CDE5"><b><font size=1 color="#000000">Rate</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#B9CDE5"><b><font size=1 color="#000000">Amount</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#B9CDE5"><b><font size=1 color="#000000">Rate</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#B9CDE5"><b><font size=1 color="#000000">Amount</font></b></td>
		</tr>


	<tr *ngFor="let item of salesData; let i=index">
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="right" valign=bottom sdval="1" sdnum="1033;"><font color="#000000">{{i+1}}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
			<font color="#000000">
				<span *ngIf = "item.PCS_ID">PCS_ID : {{item.PCS_ID}}</span>
				<span *ngIf = "item.Lot_Number">Lot Number : {{item.Lot_Number}}</span>
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="71023910" sdnum="1033;">
			<b>
				<font color="#000000">
				</font>
			</b>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
			<font color="#000000">
				<br>
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="29.68" sdnum="1033;">
			<font color="#000000">
				{{item.total_diamond_pcs}}
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="32720" sdnum="1033;">
			<font color="#000000">
				{{item.rate_INR}}
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="971129.6" sdnum="1033;0;0">
			<font color="#000000">
				{{item.sale_rate}}
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
			<font color="#000000">
				{{item.sale_disc}}
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="971129.6" sdnum="1033;0;0">
			<font color="#000000">
				<!-- {{item.sale_rate-(item.sale_rate*item.sale_disc/100)}} -->
				{{item.sale_rate}}
			</font>
		</td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="1.5" sdnum="1033;0;0.00"><font color="#000000">0</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom sdval="14566.944" sdnum="1033;0;0"><font color="#000000">0</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="1.5" sdnum="1033;0;0.00"><font color="#000000">0</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="14566.944" sdnum="1033;0;0"><font color="#000000">0</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=bottom sdval="1000263.488" sdnum="1033;0;0">
			<font color="#000000">
				<!-- {{(item.sale_rate-(item.sale_rate*item.sale_disc/100))*item.total_diamond_pcs}} -->
				{{item.sale_rate*item.total_diamond_pcs}}
			</font>
		</td>
	</tr>
	

	 <!-- <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=14 height="36" align="center" valign=middle bgcolor="#B9CDE5"><b><font face="Bookman Old Style" size=5 color="#000000">Total</font></b></td>  -->
	<tr>
		 <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=14 height="36" align="right" ><b><font face="Bookman Old Style" size=3 color="#000000">Total</font></b></td> 
		<!-- <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle sdval="29.68" sdnum="1033;"><font color="#000000">0</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle sdval="971129.6" sdnum="1033;"><font color="#000000">0</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle sdval="0" sdnum="1033;"><font color="#000000">0</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle sdval="971129.6" sdnum="1033;"><font color="#000000">0</font></td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=middle><font color="#000000">0</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle sdval="14566.944" sdnum="1033;0;0"><font color="#000000">0</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000" align="left" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 1px solid #000000" align="right" valign=middle sdval="14566.944" sdnum="1033;0;0"><font color="#000000">0</font></td> -->
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=middle sdval="1000263.488" sdnum="1033;0;0"><font color="#000000">{{salesData[0].sales_amount_INR}}</font></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000" colspan=9 height="20" align="center" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">Total Invoice amount in words</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" colspan=5 align="left" valign=bottom><b><font color="#000000">Total Amount before Tax</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=bottom sdval="971129.6" sdnum="1033;0;0"><font color="#000000">{{salesData[0].sales_amount_INR}}</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000;border-right: 1px solid #000000; border-left: 1px solid #000000" height="20" align="left" valign=bottom colspan = "9"><b><font color="#000000">{{amountInWords}}</font></b></td>
		
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=5 align="left" valign=bottom><b><font color="#000000">Add: CGST</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=bottom sdval="14566.944" sdnum="1033;0;0"><font color="#000000">0</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000; border-left: 1px solid #000000" height="20" align="left" valign=bottom colspan="9"><font color="#000000"><br></font></td>
		
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=5 align="left" valign=bottom><b><font color="#000000">Add: SGST</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=bottom sdval="14566.944" sdnum="1033;0;0"><font color="#000000">0</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan="6" height="25" align="left" valign=bottom><b><font size=4 color="#000000">GST  NUMBER  :  27BLKPS9538P1ZV</font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=5 align="left" valign=bottom><b><font color="#000000">Total Tax Amount</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=bottom sdval="29133.888" sdnum="1033;0;0"><font color="#000000">0</font></td>
		</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="22" align="left" colspan="6" valign=bottom><b><font face="Arial" size=3 color="#000000">PAN  No.  BLKPS9538P</font></b></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000" colspan=5 align="left" valign=bottom><b><font color="#000000">Total Amount after Tax:</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=bottom sdval="1000263.488" sdnum="1033;0;0"><font color="#000000">{{salesData[0].sales_amount_INR}}</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="20" align="center" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">Bank Details</font></b></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-right: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-right: 2px solid #000000" colspan=5 align="left" valign=bottom bgcolor="#B9CDE5"><b><font color="#000000">GST on Reverse Charge</font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom sdval="0" sdnum="1033;"><font color="#000000">{{salesData[0].sales_amount_INR}}</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000" height="23" align="left" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="23" align="left" valign><b><font size=3 color="#000000">INDIAN OVERSEAS BANK. OPERA HOUSE BRANCH,GRANT ROAD, A/c. No. 014002000003688.IFSC CODE: IOBA0000140</font></b></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">The Diamonds herein invoiced have been purchased from legitimate sources not involved in funding conflict &amp; in cmpliance with United Nationas resolutions. The seller</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">hereby gurantees that these diamonds are conflict free based on personal knowledge and or written guarantee provided by the supplier of these diamonds.</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">&quot; I/we hereby certify that my/our registration under the GST  Act, 2017 is in force on the date on which the sale of the goods specified in this tax invoice is made by me/us</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">and that the transaction of sale covered by this tax invoice has been effected by me/us and it shall be accounted for in the turnover of sales while filing of return and the</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">due tax, if any, payable on the sale has been paid or shall be paid.&quot;</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1>The diamonds herein invoiced are exclusively of natural origin and untreated based on personal knowledge and  / or  written guarantees provided by the supplier of these </font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1>diamonds, the acceptences of goods herein invoiced will be as per the WFDB guidelines. We guarantee the originality of the diamonds supplied are</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1>free from any synthetic or treated diamonds</font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">To the best of our knowledge and/0r written assurance from our sppliers, we state the Diamonds  herein invoiced have not been obtained in violation of applicable natural </font></td>
	</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="16" height="20" align="left"><font face="Arial" size=1 color="#000000">laws and/orsanctions the U.S. Department of Treasury's Office of Foreign Assets Control(OFAC) and have not originated from Mbada and MarangeResources of Zimbabwe.</font></td>
	</tr>
	<tr>
		<td align="right" colspan="16"><b><font face="Arial" size=1 color="#000000" >SUBJECT  TO  MUMBAI  JURISDICTION</font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" colspan="16"><font face="Arial" size=3 color="#000000">Received About Goods. :</font></td>
	</tr>
	<tr>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom colspan="7"><b><font face="Arial" size=3 color="#000000">FOR  RAHA EXPORTS</font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><font face="Arial" size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><font face="Arial" size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom colspan="6"><font face="Arial" size=3 color="#000000">Seal &amp; Singn._________________</font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td colspan=7 align="center" valign=middle><b><font face="Arial" size=3 color="#000000">  Proprietor/Authorised Singnatory</font></b></td>
	</tr>
</table>
<button class="btn btn-info waves-effect m-t-10" (click) = "sendData($event)">Back</button>
</div>
<button class="btn btn-danger btn-sm  m-btn waves-effect" (click) = "printInvoice()"><i class="zmdi zmdi-print"></i> Print & Submit</button>