<div [formGroup]="piecesTypeForm">
    <div class="card">
		<!-- <div class="card-header ch-alt" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
			<span>Stock ID : </span>{{piecesTypeForm.value.Stock_ID}}
		</div> -->
		
		<!-- <div class="collapse in"  id="collapseExample"> -->
		<div style="overflow : hidden">
			<ul class="actions pull-right m-t-5">
				<li>
					<label class="radio radio-inline m-r-20">
						<input type="radio" value="singlestone" name = "piecetype" [(ngModel)] = "piecetype" [ngModelOptions]="{standalone: true}">
						<i class="input-helper"></i>
						Certified Stone
					</label>
					
					<label class="radio radio-inline m-r-20">
						<input type="radio" value="parcel" name = "piecetype" [(ngModel)] = "piecetype" [ngModelOptions]="{standalone: true}">
						<i class="input-helper"></i>
						Parcel
					</label>
				</li>			
			</ul>
		</div>

		<!--<app-pieces-type #subContainer1 [newpurchase] = "newpurchase"></app-pieces-type>-->
		
		<div class="card-body card-padding" *ngIf="piecetype == 'singlestone'">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Lab Type</p>
							<!-- <input type="text" class="form-control fg-input" formControlName = "LAB_type" name="LAB_type"> -->							
							<ng-select [allowClear]="true"
								[items]="lab_type"
								[disabled]="disabled"
								(data)="refreshValue($event)"
								(selected)="selected($event,'LAB_type')"
								(removed)="removed($event)"
								(typed)="typed($event)"
								[(ngModel)] = "newpurchase.LAB_type"
								placeholder="No Lab Type selected" name = "stock_status_group"  [ngModelOptions]="{standalone: true}">
							</ng-select>
						</div>
					</div>
				</div>
				<!-- <div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Stock ID</p>
							<input type="text" class="form-control fg-input" formControlName = "Stock_ID" name = "Stock_ID">
						</div>
					</div>
				</div>					 -->
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Certificate Number</p>
							<input type="text" class="form-control fg-input" name = "certificate_number" formControlName = "certificate_number">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Total Number of Pieces</p>
							<input type="text" class="form-control fg-input" placeholder="" formControlName = "total_diamond_pcs" name = "total_diamond_pcs">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<a *ngIf = "piecesTypeForm.value.Stock_ID != '' && piecesTypeForm.value.certificate_number != ''" data-toggle="modal" href="#modalWider{{piecesTypeForm.value.certificate_number}}" class="btn btn-sm btn-info" >Fetch Details</a>
					<a *ngIf = "piecesTypeForm.value.Stock_ID == '' || piecesTypeForm.value.certificate_number == ''" class="btn btn-sm btn-info" disabled = "true">Fetch Details</a>
				</div>
			</div>

			<div class="modal fade " id="modalWider{{piecesTypeForm.value.certificate_number}}" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg modalWidth">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Certified Stone Details</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="form-label m-b-10">Stock Group</p>
									<ng-select [allowClear]="true"
										[items]="groups"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selected($event,'stock_status_group')"
										(removed)="removed($event)"
										(typed)="typed($event)"
										[(ngModel)] = "newpurchase.stock_status_group"
										placeholder="No Stock Group selected" name = "stock_status_group"  [ngModelOptions]="{standalone: true}">
									</ng-select>
								</div>
								<div class="col-sm-3">
									<p class="form-label m-b-10">Shape of Diamond</p>
									<ng-select [allowClear]="true"
										[items]="shapes"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selected($event,'diamond_shape')"
										(removed)="removed($event)"
										(typed)="typed($event)"
										[(ngModel)] = "newpurchase.diamond_shape"
										placeholder="No Shape of Diamond selected" name = "diamond_shape"  [ngModelOptions]="{standalone: true}">
									</ng-select>
								</div>
								<div class="col-sm-3">
									<p class="form-label m-b-10">Color of Diamond</p>
									<ng-select [allowClear]="true"
										[items]="colors"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selected($event,'diamond_color')"
										(removed)="removed($event)"
										(typed)="typed($event)"
										[(ngModel)] = "newpurchase.diamond_color"
										placeholder="No Color of Diamond selected" name = "diamond_color"  [ngModelOptions]="{standalone: true}">
									</ng-select>
								</div>
								<div class="col-sm-3">
									<p class="form-label m-b-10">Clarity of Diamond</p>
									<ng-select [allowClear]="true"
										[items]="clarity"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selected($event,'diamond_clarity')"
										(removed)="removed($event)"
										(typed)="typed($event)"
										[(ngModel)] = "newpurchase.diamond_clarity"
										placeholder="No Clarity of Diamond selected" name = "diamond_clarity"  [ngModelOptions]="{standalone: true}">
									</ng-select>
								</div>				
							</div>
							<div class="row">					
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">Polish Type</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "polishing_type" name = "polishing_type">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">length Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "length" name = "length">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">width Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "width" name = "width">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">depth Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "depth" name = "depth">
										</div>
									</div>
								</div>
							</div>

							<div class="row">					
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">message</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "message" name = "message">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">weight Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "weight" name = "weight">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">reportNo</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "reportNo" name = "reportNo">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">Color Description Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "colorDesc" name = "colorDesc">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">final Cut Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "finalCut" name = "finalCut">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">depthPct</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "depthPct" name = "depthPct">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">tablePct</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "tablePct" name = "tablePct">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">crnAg</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "crnAg" name = "crnAg">
										</div>
									</div>
								</div>	
							</div>

							<div class="row">					
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">crnHt</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "crnHt" name = "crnHt">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">pavAg</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "pavAg" name = "pavAg">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">pavDp</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "pavDp" name = "pavDp">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">starLn</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "starLn" name = "starLn">
										</div>
									</div>
								</div>
							</div>

							<div class="row">					
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">pavAg</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "pavAg" name = "pavAg">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">pavDp</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "pavDp" name = "pavDp">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">starLn</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "starLn" name = "starLn">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">lrHalf</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "lrHalf" name = "lrHalf">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">girdle</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "girdle" name = "girdle">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">girdleCondition</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "girdleCondition" name = "girdleCondition">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">girdlePct</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "girdlePct" name = "girdlePct">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">culet Size</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "culetSize" name = "culetSize">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">symmetry Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "symmetry" name = "symmetry">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">Fluorescence Intensity</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "fluorescenceIntensity" name = "fluorescenceIntensity">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">Fluorescence Color</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "fluorescenceColor" name = "fluorescenceColor">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">key To Symbols</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "keyToSymbols" name = "keyToSymbols">
										</div>
									</div>
								</div>
							</div>

							<div class="row">					
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">Fluorescence Intensity</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "fluorescenceIntensity" name = "fluorescenceIntensity">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">Fluorescence Color</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "fluorescenceColor" name = "fluorescenceColor">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">key To Symbols</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "keyToSymbols" name = "keyToSymbols">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">report Type</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "reportType" name = "reportType">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">report Date</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "reportDt" name = "reportDt">
										</div>
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">inscription Of Diamond</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "inscription" name = "inscription">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">information Message</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "infoMsg" name = "infoMsg">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="fg-line">
											<p class="form-label">full Shape Description</p>
											<input type="text" class="form-control fg-input m-t-10" formControlName = "fullShapeDescription" name = "fullShapeDescription">
										</div>
									</div>
								</div>
							</div>
						</div>
						 <div class="modal-footer">
							<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						</div> 
					</div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Total Number of Carats</p>
							<input type="text" class="form-control fg-input" formControlName = "total_diamond_carat" name = "total_diamond_carat" >
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">RAP Price</p>
							<input type="text" class="form-control fg-input" formControlName = "RAP_price" (blur)="RPCaratCost()" name = "RAP_price">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">Cost Discount %</p>
							<input type="text" class="form-control fg-input" formControlName = "cost_discount" (blur)="RPCaratCost()" name = "cost_discount">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">WD Discount %</p>
							<input type="text" class="form-control fg-input" formControlName = "wd_rate" name = "wd_rate" (blur)="WDRPCarat()">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Rate per Carat Cost</p>
							<input type="text" class="form-control fg-input" formControlName = "cost_rate_per_carat" name = "cost_rate_per_carat" disabled="true">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">WD Rate per Carat</p>
							<input type="text" class="form-control fg-input" formControlName = "wd_rate_carat" name = "wd_rate_carat" disabled="true">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">Asked Price</p>
							<input type="text" class="form-control fg-input" formControlName = "askedPrice" name = "askedPrice">
						</div>
					</div>
				</div>				
			</div>

			<div class="row">
				<div class=" col-sm-4">
					<label class="checkbox checkbox-inline">						
						<input type="checkbox" value="lessCheck" [(ngModel)] = "lessCheck" name = "lessCheck" (change)="checkLess()" [ngModelOptions]="{standalone: true}">
						<i class="input-helper"></i>
						<b>Less Discount</b>
					</label>
				</div>
				<p class="col-sm-8 c-black f-500 hidden-xs">Rate</p>
			</div>

			<div class="row">				
				<!-- <p class="col-sm-12 c-black f-500 m-b-5 m-t-20">Less Discount</p> -->
				<div class="col-sm-4">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">LESS</p>
							<input type="text" class="form-control fg-input" formControlName = "less" name = "less" (blur)="CALAmount()" [readonly] = "!lessCheck">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
						<div class="form-group ">
							<div class="fg-line">
								<p class="form-label">Rate in INR(&#8377;)</p>
								<input type="text" class="form-control fg-input" formControlName = "rate_INR" name = "rate_INR" disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group ">
							<div class="fg-line">
								<p class="form-label">Rate in USD($)</p>
								<input type="text" class="form-control fg-input" formControlName = "rate_dolar" name="rate_dolar" disabled="true">
							</div>
						</div>
					</div>
				<!-- <div class="col-sm-4 m-t-15">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">LESS 2</p>
							<input type="text" class="form-control fg-input" formControlName = "less2"  name = "less2" (blur)="CALAmount()" [readonly] = "!lessCheck">
						</div>
					</div>
				</div>
				<div class="col-sm-4 m-t-15">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">LESS 3</p>
							<input type="text" class="form-control fg-input" formControlName = "less3" name = "less3" (blur)="CALAmount()" [readonly] = "!lessCheck">
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<div class="card-body card-padding" *ngIf="piecetype == 'parcel'">
			<div class="row">					
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Lot Number</p>
							<input type="text" class="form-control fg-input m-t-10" name = "diamond_lot_number" formControlName = "diamond_lot_number">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
						<p class="form-label m-b-10">Stock Group</p>
						<ng-select [allowClear]="true"
							[items]="groups"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'stock_status_group')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.stock_status_group"
							placeholder="No Stock Group selected" name = "stock_status_group"[ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-3">
						<p class="form-label m-b-10">Shape of Diamond</p>
						<ng-select [allowClear]="true"
							[items]="shapes"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'diamond_shape')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.diamond_shape"
							placeholder="No Shape of Diamond selected" name = "diamond_shape" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-3">
						<p class="form-label m-b-10">Color of Diamond</p>
						<ng-select [allowClear]="true"
							[items]="colors"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'diamond_color')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.diamond_color"
							placeholder="No Color of Diamond selected" name = "diamond_color" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
			</div>
			<div class="row">										
				<div class="col-sm-3">
					<p class="form-label m-b-10">Clarity of Diamond</p>
					<ng-select [allowClear]="true"
						[items]="clarity"
						[disabled]="disabled"
						(data)="refreshValue($event)"
						(selected)="selected($event,'diamond_clarity')"
						(removed)="removed($event)"
						(typed)="typed($event)"
						[(ngModel)] = "newpurchase.diamond_clarity"
						placeholder="No Clarity of Diamond selected" name = "diamond_clarity" [ngModelOptions]="{standalone: true}">
					</ng-select>
				</div>					
				<div class="col-sm-3">
					<p class="form-label m-b-10">Size of Diamond</p>
					<ng-select [allowClear]="true"
						[items]="sizes"
						[disabled]="disabled"
						(data)="refreshValue($event)"
						(selected)="selected($event,'diamond_size')"
						(removed)="removed($event)"
						(typed)="typed($event)"
						[(ngModel)] = "newpurchase.diamond_size"
						placeholder="No Size of Diamond selected" name = "diamond_size" [ngModelOptions]="{standalone: true}">
					</ng-select>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Kapan</p>
							<input type="text" class="form-control fg-input m-t-10" formControlName="kapan" name = "kapan">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Total Number of Pieces</p>
							<input type="text" class="form-control fg-input m-t-10" placeholder="" formControlName = "total_diamond_pcs" name = "total_diamond_pcs">
						</div>
					</div>
				</div>
			</div>

			<div class="row m-t-20">					
				<div class="col-sm-3">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">Total Number of Carats</p>
							<input type="text" class="form-control fg-input" formControlName = "total_diamond_carat" name = "total_diamond_carat" >
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class=" col-sm-4">
					<label class="checkbox checkbox-inline">						
						<input type="checkbox" value="lessCheck" [(ngModel)] = "lessCheck" name = "lessCheck" (change)="checkLess()" [ngModelOptions]="{standalone: true}">
						<i class="input-helper"></i>
						<b>Less Discount</b>
					</label>
				</div>
				<p class="col-sm-8 c-black f-500 hidden-xs">Rate</p>
			</div>

			<div class="row">				
				<!-- <p class="col-sm-12 c-black f-500 m-b-5 m-t-20">Less Discount</p> -->
				<div class="col-sm-4">
					<div class="form-group">
						<div class="fg-line">
							<p class="form-label">LESS</p>
							<input type="text" class="form-control fg-input" formControlName = "less" name = "less" (blur)="CALAmount()" [readonly] = "!lessCheck">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">Rate in INR(&#8377;)</p>
							<input type="text" class="form-control fg-input" formControlName = "rate_INR" name = "rate_INR">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">Rate in USD($)</p>
							<input type="text" class="form-control fg-input" formControlName = "rate_dolar" name="rate_dolar">
						</div>
					</div>
				</div>
				<!-- <div class="col-sm-4 m-t-15">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">LESS 2</p>
							<input type="text" class="form-control fg-input" formControlName = "less2"  name = "less2" (blur)="CALAmount()" [readonly] = "!lessCheck">
						</div>
					</div>
				</div>
				<div class="col-sm-4 m-t-15">
					<div class="form-group ">
						<div class="fg-line">
							<p class="form-label">LESS 3</p>
							<input type="text" class="form-control fg-input" formControlName = "less3" name = "less3" (blur)="CALAmount()" [readonly] = "!lessCheck">
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- </div> -->
	</div>
</div>

