<dashboard>

	<div class="container">
	<form (ngSubmit)="onSubmit()" #memoForm="ngForm">
		<div class="block-header">
			<h2>New Memo Entry</h2>
			<ul class="actions">
				<li>
					<label class="radio radio-inline m-r-20">
						<input type="radio" value="memoissue" name = "memotype" [(ngModel)] = "memotype" value="memoissue">
						<i class="input-helper"></i>
						Memo Issue
					</label>
					
					<label class="radio radio-inline m-r-20">
						<input type="radio" value="memoreturn" name = "memotype" [(ngModel)] = "memotype" value="memoreturn">
						<i class="input-helper"></i>
						Memo In
					</label>
				</li>			
			</ul>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Basic Memo in Information</h2>
			</div>

			<div class="card-body card-padding">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Invoice Number</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.invoice_number" name = "invoice_number">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Days</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.no_of_days" name = "no_of_days">	
							</div>
						</div>
					</div>
          <div class="col-sm-4">
						<p class="form-label">Memo Date</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Dealer and Broker Details</h2>
			</div>
			<div class="card-body card-padding">
				<div class="row">
					<div class="col-sm-12">
						<p class="form-label">Dealer Name</p>
						<ng-select [allowClear]="true"
							[items]="names"
							[disabled]="disabled"							
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newmemo.account_name"
							placeholder="No Dealer Name selected" name = "account_name">
						</ng-select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 m-t-15">
						<p class="form-label">Broker Name</p>
						<ng-select [allowClear]="true"
							[items]="brokers"
							[disabled]="disabled"	
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newmemo.broker"
							placeholder="No Broker Name selected" name = "broker">
						</ng-select>
					</div>
					<div class="col-sm-4 m-t-15">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Reference</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.reference" name = "reference">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Goods Details</h2>
			</div>

			<div class="card-body card-padding">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Stock ID</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.Stock_ID" name = "Stock_ID">
							</div>
						</div>
					</div>
				</div>
				<div class="row m-t-25">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Diamond Carats</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.carats" name = "carats">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Number of peding pieces</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.pending_pcs" name = "pending_pcs">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Pending Carats</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.pending_carats" name = "pending_carats">
							</div>
						</div>
					</div>
				</div>

				<div class="row m-t-20">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Stone Type</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.stone_type" name = "stone_type">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Amount</p>
								<input type="text" class="form-control fg-input" [(ngModel)] = "newmemo.amount" name = "amount">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-success btn-lg waves-effect" type="submit"><i class="zmdi zmdi-check"></i>&nbsp;&nbsp;&nbsp;Submit</button>
	</form>
</div>


</dashboard>
