<dashboard>
  <div class="container">
    <div class="block-header">

    </div>
    <div class="card">
      <div class="card-header">
          <h2>Manage User</h2>
      </div>
                        
      <table id="data-table-command" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th *ngFor="let title of titles">{{title}}</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data">
            <td>{{ data.id }}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td class="text-left">
              <button type="button"  (click)="onedit(data)" class="btn btn-icon command-edit waves-effect waves-circle">
                <span class="zmdi zmdi-edit"></span>
              </button>
              <button type="button" (click)="ondelete(data)" class="btn btn-icon command-delete waves-effect waves-circle">
                <span class="zmdi zmdi-delete"></span>
              </button>
            </td>
          </tr>
        </tbody>
                        </table>
                    </div>

  </div>
</dashboard>