<dashboard>
  <div class="container-fluid">
    <form class="form-horizontal" #au="ngForm" novalidate (ngSubmit)="onSubmit(au)">
      <div class="block-header">
      <h2>Add New User</h2>
      </div>

      <div class="card">

        <div class="card-body card-padding">
          <div class="row">
          <div class="col-sm-6">
          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
              <div class="fg-line">
                <input type="text" class="form-control input-sm" id="name" name="fullname" #fullname="ngModel" [(ngModel)]="usermodel.name" >
              </div>
            </div>
          </div>
          </div>

          <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <div class="fg-line">
                <input type="email" class="form-control input-sm" id="email" name="email" #email="ngModel" [(ngModel)]="usermodel.email">
              </div>
            </div>
          </div>
          </div>

          </div>

          <div class="row">
            <div class="col-sm-6">
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <div class="fg-line">
                <input type="password" class="form-control input-sm" id="password" name="password" #password="ngModel" [(ngModel)]="usermodel.password">
              </div>
            </div>
          </div>
            </div>
          
          <div class="col-sm-6">
          <div class="form-group">
            <label for="cpassword" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-9">
              <div class="fg-line">
                <input type="password" class="form-control input-sm" id="cpassword" name="confirm" [(ngModel)]="usermodel.confirm">
              </div>
            </div>
          </div>
          </div>

          </div>
        </div>
          
        <button  class="btn btn-login btn-danger"  [disabled]="!au.valid" type="submit">Add User</button>

      </div>
    </form>
  </div>
</dashboard>
