<dashboard>
  <div class="container-fluid">
    <div class="block-header">
      <h2>Bills</h2>
    </div>

     <form #filters="ngForm" (ngSubmit)="onSubmit(filters)">
    <div class="card searchfilters">
      <div class="card-body card-padding">
        <div class="row center-align">
          

          <div class="col-sm-2 custom-width-2">
            <md-radio-group [(ngModel)]="paymentvalues.transaction_type" class="main-filter" name="billtype">
          <md-radio-button  class="radio-button" *ngFor="let option of options.transaction_type" (change)="gettype(option)" [value]="option" >{{option}}</md-radio-button>
        </md-radio-group>
          </div>

          <div class="col-sm-3 ng-select">
						
                <p class="form-label">Party Name</p>
                <ng-select [items]="options.account_name" (selected)="selectedparty($event)"  (removed)="removed($event)" placeholder="No Party Selected"></ng-select>
					</div>

          
      </div>
          <!-- <span *ngIf="paymentvalues.account_name" (click)="getdata()" class="btn btn-info waves-effect">Get Result</span> -->
          
    </div>
    </div>
   
      
     <!-- <p>{{ filters.value | json}}</p> -->

     <div class="card" *ngIf="accountdata.accounts">
      <!--<div class="card-header">Reports</div>-->
    <div class="card-header  table-responsive">
              <div  *ngFor="let datas of accountdata.accounts" class="table">
                  <div class="titles">
                    <p>Party Name :</p>
                    <p>{{datas.account_name}}</p>
                  </div>
                  <div class="titles">
                    <p>Total Amount :</p>
                   <p>{{datas.account_sum}}</p>
                  </div>
                   
                    
                  
                  <table class="table table-bordered">
                    <thead class="thead-inverse">
                      <tr>
                          <th>invoice number</th>
                          <th>date of invoice</th>
                          <th>invoice amount</th>
                          <th>
                            amount <span *ngIf="paymentvalues.transaction_type=='payment'">paid</span>
                            <span *ngIf="paymentvalues.transaction_type=='receive'">received</span>
                          </th>
                          <th>balance amount</th>
                          <th>due date</th>
                          <th>due days</th>
                          <th>action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of datas.account_invoices" class="invoice-data">
                        <td>{{data.invoice_number}}</td>
                        <td>{{data.date }}</td>
                        <td style="text-align: right">{{data.invoice_value}}</td>
                        <td style="text-align: right">{{data.received}}</td>
                        <td style="text-align: right">{{data.balance}}</td>
                        <td>{{data.due_date }}</td>
                        <td>{{data.due_date | days}}</td>
                        <td (click)="getinvoice(data)" > <span *ngIf="paymentvalues.transaction_type==options.transaction_type[0]"  class="btn btn-info waves-effect">pay</span>
                        <span *ngIf="paymentvalues.transaction_type==options.transaction_type[1]" class="btn btn-info waves-effect">recieve</span></td>
                      </tr>
                    </tbody>
                  </table>
          
    </div>
    </div>

    <div *ngIf="this.showpaymentoptions">
      <div class="container-fluid">

        <div ngModelGroup="transaction">
        <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Invoice Number</p>
                <input type="text" class="form-control fg-input" name = "invoicenumber" disabled [ngModel]="paymentvalues.invoice_number">							
							</div>
						</div>
					</div>
      <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Date</p>
                <input type="text" class="form-control fg-input" (focus)="datepicker.open()" [mdDatepicker]="datepicker" name="date" [max]="maxDate" readonly [(ngModel)]="paymentvalues.transaction_date">
                <md-datepicker #datepicker></md-datepicker>							
							</div>
						</div>
					</div>

          <div class="col-sm-2">
            <div class="form-group">
              <div class="fg-line">
                <p class="form-label">By</p>
                <ng-select [items]="options.transaction_mode" [active]="options.transaction_mode" (selected)="selectedby($event)"></ng-select>
                <div *ngIf="paymentvalues.transaction_mode==='cheque'">
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Bank</p>
                      <ng-select [items]="options.bank" [active]="options.bank" (selected)="selectedbank($event)"></ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Bank Branch</p>
                      <ng-select [items]="options.branch" [active]="options.branch" (selected)="selectedbankbranch($event)"></ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Account Number</p>
                      <ng-select [items]="options.account_number" [active]="options.account_number" (selected)="selectedaccountnumber($event)"></ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Amount Available</p>
                      <p>{{bankamount}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Cheque No</p>
                     <input type="text" class="form-control fg-input" name = "cheque_no" [(ngModel)]="paymentvalues.cheque_no">	
                    </div>
                  </div>
                </div>
                <div *ngIf="paymentvalues.transaction_mode==='bank transfer'">
                    <div class="form-group">
                        <div class="fg-line">
                          <p class="form-label">Bank</p>
                          <ng-select [items]="options.bank" [active]="options.bank" (selected)="selectedbank($event)"></ng-select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="fg-line">
                          <p class="form-label">Bank Branch</p>
                          <ng-select [items]="options.branch" [active]="options.branch" (selected)="selectedbankbranch($event)"></ng-select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="fg-line">
                          <p class="form-label">Account Number</p>
                          <ng-select [items]="options.account_number" [active]="options.account_number" (selected)="selectedaccountnumber($event)"></ng-select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="fg-line">
                          <p class="form-label">Amount Available</p>
                          <p>{{bankamount}}</p>
                        </div>
                      </div>
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Transaction Id</p>
                     <input type="text" class="form-control fg-input" name = "transaction_id" #amountBox [(ngModel)]="paymentvalues.transaction_id">	
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-sm-2">
            <div class="form-group">
              <div class="fg-line">
                <p class="form-label">Currency</p>
                <ng-select [items]="options.transaction_currency"  [active]="options.transaction_currency" (selected)="selectedcurrency($event)"></ng-select>
                <div *ngIf="paymentvalues.transaction_currency==='USD'">
                  <div class="form-group">
                    <div class="fg-line">
                      <p class="form-label">Conversion Rate</p>
                     <input type="number" class="form-control fg-input" (keyup)="usdcalculator($event.target.name)" name = "transaction_conversion" [(ngModel)]="paymentvalues.tranasaction_conversion_rate">	
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="fg-line">
                        <p class="form-label">Amount in dollar</p>
                       <input type="number" class="form-control fg-input" [disabled]="usddisable" step=".01" (keyup)="usdcalculator($event.target.name)" name = "usd_amount" [(ngModel)]="paymentvalues.usd_amount">	
                      </div>
                    </div>
              </div>
            </div>
          </div>
           </div>

          <div class="col-sm-2">
            <div class="form-group">
              <div class="fg-line">
                <p class="form-label">Full/Part</p>
                <ng-select [items]="options.transaction_status" [active]="options.transaction_status" [items]="options.transaction_status"  (selected)="selectedstatus($event)"></ng-select>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line" *ngIf="paymentvalues.transaction_currency==='INR'">
                <p class="form-label">Amount</p>
								<input type="number" class="form-control fg-input"  [disabled]="amountdisable" [min]=1 [max]=maxamountpayable name = "amount"  [(ngModel)]="paymentvalues.amount">								
              </div>
              <div class="fg-line" *ngIf="paymentvalues.transaction_currency==='USD'">
                <p class="form-label">Amount</p>
								<input type="number" class="form-control fg-input"  [disabled]="amountdisable" (keyup)="usdcalculator($event.target.name)" name = "amount" [min]=1 [max]=maxamountpayable [(ngModel)]="paymentvalues.amount">								
							</div>
						</div>
					</div>

          <button type="submit" *ngIf="filters.valid" class="btn btn-info waves-effect">save</button>
        </div>
      </div>
    <hr>
    

          
    </div>
  

    </div>


    </form>
    <!-- <p>{{filters.value | json }}</p>     -->
  </div>
</dashboard>
