.mdatepicker{
    display: inline-block;
    width: 82%;
}
span.ui-select-match-text{
    display: inline-block!important;
    margin-top: 10px!important;
}

.input-group-addon{
    min-width: auto;
}