<form  [formGroup]="memoDetails">
  <div class="card">
			<!--<h2>Goods Details</h2>-->
    <div style="overflow : hidden">
      <ul class="actions pull-right m-t-5">
				<li>
					<label class="radio radio-inline m-r-20">
						<input type="radio" value="singlestone" name = "piecetype" [(ngModel)] = "piecetype" [ngModelOptions]="{standalone: true}">
						<i class="input-helper"></i>
						Single Stone
					</label>
					
					<label class="radio radio-inline m-r-20">
						<input type="radio" value="parcel" name = "piecetype" [(ngModel)] = "piecetype" [ngModelOptions]="{standalone: true}">
						<i class="input-helper"></i>
						Parcel
					</label>
				</li>			
      </ul>
    </div>

    <div class="card-body card-padding" *ngIf="piecetype == 'singlestone'">
      <div *ngIf = "this._router.url == '/jangad/jangad-issue-entry'">
        <div class="row">
          <div class = "col-sm-4">
            <div class="form-group col-lg-8 col-sm-8 col-xs-8">
              <p class="form-label">Search Purchase by 'Stock ID'</p>
              <input type="text" class="form-control" [(ngModel)]="searchPCS" [ngModelOptions]="{standalone: true}">
            </div>
            <div class = "col-lg-4 col-sm-4 col-xs-4">
              <button class="btn btn-primary btn-sm waves-effect m-t-25" (click) = "search(searchPCS)">Search</button>
            </div>
          </div>
        </div>

        <div class = "row m-t-25" *ngIf = "searchResult">
          <div class="col-sm-12" style= "height:auto;color:#666;">
            <div style="width:100%; padding:0px 0px;border-bottom:1px solid rgba(0,0,0,0.2);float:left;">
              <div style="width:30%; float:left;padding:10px;">
                <span style="font-size:14px;float:left; width:100%;">
                <b>Dealer Name :</b> {{mypurchase.account_name}}
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                <b>Currency Conversion :</b> {{mypurchase.currency_convrsion_rate}} 
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                <b>Country :</b> {{mypurchase.country}}
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                <b>Notes :</b> {{mypurchase.notes}}
                </span>
              </div>
              <div style="width:40%; float:right;padding:">
                <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                <b>Date : </b> {{mypurchase.purchase_date}}
                </span>
                <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                <b>Invoice# : </b> {{mypurchase.invoice_number}}
                </span>
              </div>
            </div>
            <div style="width:100%; padding:0px; float:left;">
              <div style="width:100%;float:left;background:#efefef;">
                <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;font-weight:600;">
                Decription
                </span>
                <span style="font-weight:600;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                Amount
                </span>
              </div>
              <div style="width:100%;float:left;">
                <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;">
                Stock ID : {{mypurchase.Stock_ID}}
                <span style="font-size:11px; float:left; width:100%;">
                Total Carats : {{mypurchase.carat}}
                
                <br>
                Color : {{mypurchase.diamond_color}}
                <br>
                Shape : {{mypurchase.diamond_shape}}
                <br>
                Size : {{mypurchase.diamond_size}}
                <br>
                Clarity : {{mypurchase.diamond_clarity}}
                </span>
                </span>
                <span style="font-weight:normal;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                ₹{{mypurchase.amount_INR}}(${{mypurchase.amount_dolar}})
                </span>
              </div>
              <div style="width:100%;float:left; background:#fff;">
                <span style="font-weight:600;float:right;padding:10px 0px;width:40%;color:#666;text-align:center;">
                Total : ₹{{mypurchase.amount_INR}}(${{mypurchase.amount_dolar}})
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-t-25" *ngIf = "searchResult || this._router.url == '/jangad/jangad-in-entry'">
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Stock ID</p>
              <input type="text" class="form-control fg-input" formControlName = "Stock_ID" name = "Stock_ID" (disabled)="this._router.url != '/jangad/jangad-in-entry'">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Diamond Carats</p>
              <input type="text" class="form-control fg-input" formControlName = "carats" name = "carats">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Rate</p>
              <input type="text" class="form-control fg-input" formControlName = "rate" name = "rate">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Country</p>
              <ng-select [allowClear]="true"
							[items]="countries"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'country')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)]="country"
							placeholder="Select The Country" name="country" [ngModelOptions]="{standalone: true}">
						</ng-select> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body card-padding" *ngIf="piecetype == 'parcel'">
      <div *ngIf = "this._router.url == '/jangad/jangad-issue-entry'">
        <div class="row">
          <div class = "col-sm-4">
            <div class="form-group col-lg-8 col-sm-8 col-xs-8">
              <p class="form-label">Search Purchase by 'Lot Number'</p>
              <input type="text" class="form-control" [(ngModel)]="searchLotNumber" [ngModelOptions]="{standalone: true}">
            </div>
            <div class = "col-lg-4 col-sm-4 col-xs-4">
              <button class="btn btn-primary btn-sm waves-effect m-t-25" (click) = "search(searchPCS)">Search</button>
            </div>
          </div>
        </div>

        <div class = "row m-t-25" *ngIf = "searchResult">
          <div class="col-sm-12" style= "height:auto;color:#666;">
            <div style="width:100%; padding:0px 0px;border-bottom:1px solid rgba(0,0,0,0.2);float:left;">
              <div style="width:30%; float:left;padding:10px;">
                <span style="font-size:14px;float:left; width:100%;">
                <b>Dealer Name :</b> {{mypurchase.account_name}}
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                <b>Currency Conversion :</b> {{mypurchase.currency_convrsion_rate}} 
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                <b>Country :</b> {{mypurchase.country}}
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                <b>Notes :</b> {{mypurchase.notes}}
                </span>
              </div>
              <div style="width:40%; float:right;padding:">
                <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                <b>Date : </b> {{mypurchase.purchase_date}}
                </span>
                <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                <b>Invoice# : </b> {{mypurchase.invoice_number}}
                </span>
              </div>
            </div>
            <div style="width:100%; padding:0px; float:left;">
              <div style="width:100%;float:left;background:#efefef;">
                <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;font-weight:600;">
                Decription
                </span>
                <span style="font-weight:600;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                Amount
                </span>
              </div>
              
              <div style="width:100%;float:left;">
                <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;">
                Stock ID : {{mypurchase.Stock_ID}}
                <span style="font-size:11px; float:left; width:100%;">
                Total Carats : {{mypurchase.total_diamond_carat}}
                <!--<br>
                Total Picies : {{mypurchase.total_diamond_pcs}}-->
                <br>
                Color : {{mypurchase.diamond_color}}
                <br>
                Shape : {{mypurchase.diamond_shape}}
                <br>
                Size : {{mypurchase.diamond_size}}
                <br>
                Clarity : {{mypurchase.diamond_clarity}}
                </span>
                </span>
                <span style="font-weight:normal;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                ₹{{mypurchase.amount_INR}}(${{mypurchase.amount_dolar}})
                </span>
              </div>
              <div style="width:100%;float:left; background:#fff;">
                <span style="font-weight:600;float:right;padding:10px 0px;width:40%;color:#666;text-align:center;">
                Total : ₹{{mypurchase.amount_INR}}(${{mypurchase.amount_dolar}})
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-t-25" *ngIf = "searchResult || this._router.url == '/jangad/jangad-in-entry'">
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Lot Number</p>              
              <input type="text" class="form-control fg-input" formControlName = "Lot_Number" name = "Lot_Number" (disabled)="this._router.url != '/jangad/jangad-in-entry'">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Diamond Carats</p>
              <input type="text" class="form-control fg-input" formControlName = "carats" name = "carats">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Rate</p>
              <input type="text" class="form-control fg-input" formControlName = "rate" name = "rate">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <div class="fg-line">
              <p class="form-label">Country</p>
              <ng-select [allowClear]="true"
							[items]="countries"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'country')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)]="country"
							placeholder="Select The Country" name="country" [ngModelOptions]="{standalone: true}">
						</ng-select> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>