<dashboard>

<div class="container">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm,newpurchase)">
        <div class="block-header"  style="overflow: hidden">
			<h2 style="display : inline-block">New Purchase Entry</h2>
			
			<a data-toggle="modal" class="btn btn-info waves-effect pull-right" href="#modalWider">Import Excel File</a>
			
			<div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Import Excel File</h4>
						</div>
						<div class="modal-body">
							<input type="file" (change)="onFileChange($event)" multiple="false" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-link" data-dismiss="modal" (click)="submitData()">Submit</button>
							<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2 style="display: inline-block">Basic Purchase Information</h2>
				<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#basicInfo" aria-expanded="true" aria-controls="basicInfo"></a>
			</div>

			<div class="card-body card-padding collapse in" id="basicInfo">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Invoice Number</p>
								<input type="text" class="form-control fg-input" formControlName = "invoice_number">								
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Conversion Rate ($&#8594;&#8377;)</p>
								<input type="text" class="form-control fg-input" formControlName = "currency_convrsion_rate" (blur)="setDolarRate()">		
							</div>
						</div>
					</div>
					<div class="col-sm-3">						
						<p class="form-label">Purchase Date</p>
						<!--<material-datepicker [(date)]="newpurchase.purchase_date" (onSelect)="calcDay($event)"></material-datepicker>-->
						<span class="dp-container">	
							<md-input-container class="mdInputContainer">
								<input mdInput type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" name="date" [(ngModel)]="newpurchase.purchase_date" [ngModelOptions]="{standalone: true}" disabled="true">
								<button mdSuffix class="matDateickerToggle last"  [mdDatepickerToggle]="picker"></button>
							</md-input-container>
							<md-datepicker #picker></md-datepicker>	
						</span>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Terms of Payment</p>
								<input type="text" class="form-control fg-input" formControlName="payment_terms" (blur)="calcDay(newpurchase.payment_terms)">
							</div>
						</div>
					</div>	
				</div>
				<br>
				<div class="row">			
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Due Date</p>
								<input type="text" class="form-control fg-input"  formControlName ="due_date" [readonly]="true">
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<p class="form-label">Country</p>
						<ng-select [allowClear]="true"
							[items]="countries"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'country')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)]="newpurchase.country"
							placeholder="Select The Country" name="country" [ngModelOptions]="{standalone: true}">
						</ng-select> 
					</div>
					<div class="col-sm-6">
						<div class="form-group ">
							<div class="fg-line">
								<p class="form-label">Notes or Remarks</p>
								<textarea class="form-control" rows="2" formControlName="notes"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2 style="display: inline-block">Company & Party Details</h2>
				<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#companyPartyDetails" aria-expanded="true" aria-controls="companyPartyDetails"></a>
			</div>
			<div class="card-body card-padding collapse in" id="companyPartyDetails">
				<div class="row">
					<div class="col-sm-6">
						<p class="form-label m-b-10">Party's Name</p>
						<ng-select [allowClear]="true"
							[items]="names"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'account_name')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.account_name"
							placeholder="Select Party's Name" name = "account_name" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-6">
						<p class="form-label m-b-10">Company Name</p>
						<ng-select [allowClear]="true"
							[items]="names"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'company_name')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.company_name"
							placeholder="Select Party's Name" name = "company_name" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
				</div>
			</div>
		</div>
        <!--addresses-->
		
        <div formArrayName="piecesTypes">
          	<div *ngFor="let piecesType of myForm.controls.piecesTypes.controls; let i=index">
            
			<div class="card">
				<div class="card-header ch-alt">
					<h2 style="display: inline-block">Purchase Item {{i + 1}}</h2>
					<span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.piecesTypes.controls.length > 1" (click)="removePiece(i)"></span>
					<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#collapseExample{{i}}" aria-expanded="true" aria-controls="collapseExample"></a>
				</div>
				<div [formGroupName]="i" id="collapseExample{{i}}" class="collapse in">
					<app-pieces-type [mygroup]="myForm.controls.piecesTypes.controls[i]" (childEvent) = "parenFunction($event)"></app-pieces-type>
				<!--<address></address>-->
				</div>
			</div>

          	</div>
        </div>

		<a (click)="AddpiecesType()" class="btn btn-success btn-md m-btn waves-effect"><i class="zmdi zmdi-plus"></i> Add New Purchase Item</a>

		<div class="card">
			<div class="card-header">
				<h2 style="display: inline-block">Purchase Revenue Details</h2>
				<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#revenueDetails" aria-expanded="true" aria-controls="revenueDetails"></a>
			</div>

			<div class="card-body card-padding collapse in" id="revenueDetails">  
				<div class="row">
					<div class="col-sm-6">
						<p class="col-sm-12 c-black f-500">Average</p>
						<div class="col-sm-6">
							<div class="form-group ">
								<div class="fg-line">
									<p class="form-label">Average in INR(&#8377;)</p>
									<input type="text" class="form-control fg-input" formControlName = "avg_INR" name = "avg_INR" disabled = "true">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group ">
								<div class="fg-line">
									<p class="form-label">Average in USD($)</p>
									<input type="text" class="form-control fg-input" formControlName = "avg_dolar" name = "avg_dolar" disabled = "true">
									<label class="fg-label"></label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<p class="col-sm-12 c-black f-500">Amount</p>
						<div class="col-sm-6">
							<div class="form-group ">
								<div class="fg-line">
									<p class="form-label">Amount in INR(&#8377;)</p>
									<input type="text" class="form-control fg-input" formControlName = "amount_INR" name = "amount_INR" disabled = "true">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group ">
								<div class="fg-line">
									<p class="form-label">Amount in USD($)</p>
									<input type="text" class="form-control fg-input" formControlName = "amount_dolar" name = "amount_dolar" disabled = "true">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="row m-t-15">
					<p class="col-sm-12 c-black f-500">Amount</p>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<p class="form-label">Amount in INR(&#8377;)</p>
								<input type="text" class="form-control fg-input" formControlName = "amount_INR" name = "amount_INR" disabled = "true">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<p class="form-label">Amount in USD($)</p>
								<input type="text" class="form-control fg-input" formControlName = "amount_dolar" name = "amount_dolar" disabled = "true">
							</div>
						</div>
					</div>
				</div> -->

				<div class="row">
					<div class="col-sm-4">
						<p class="form-label m-b-10">Broker Type</p>
						<ng-select [allowClear]="true"
							[items]="brokertypes"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event,'brokerType')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.brokerType"
							placeholder="No Broker Type selected" name = "brokerType" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-4">
						<p class="form-label m-b-10">Broker Name</p>
						<ng-select [allowClear]="true"
							[items]="brokers"
							(data)="refreshValue($event)"
							(selected)="selected($event,'brokerName')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.brokerName"
							placeholder="No Broker Name selected" name = "brokerName" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-4 m-t-10">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Brokerage in %</p>
								<input type="text" class="form-control fg-input" formControlName = "brokerage" name = "brokerage">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 m-t-20">
						<label class="checkbox checkbox-inline m-r-20">
							<input type="checkbox" value="comissionCheck" [(ngModel)] = "comissionCheck" name = "comissionCheck" (change)="checkComission()" [ngModelOptions]="{standalone: true}">
							<i class="input-helper"></i>
							<b>Comission</b>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 m-t-20">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Aggent Comission in %</p>
								<input type="text" class="form-control fg-input" formControlName = "comission1" name = "comission2" [readonly] = "!comissionCheck">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-15">
							<ng-select [allowClear]="true"
							[items]="taxes"
							[disabled]="newpurchase.aginst_Hform"
							(data)="refreshValue($event)"
							(selected)="selected($event,'taxes')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.taxes"
							placeholder="No Taxes selected" name = "taxes" [ngModelOptions]="{standalone: true}">
						</ng-select>
						</div>
						<div class="form-group  col-sm-4">
							<div class="fg-line">
								<p class="form-label">% Tax</p>
								<input type="text" class="form-control fg-input" formControlName = "mVAT" name = "mVAT" [disabled] = "newpurchase.aginst_Hform" (blur) = "addTax()"> 
							</div>
						</div>
					<!-- <div class="col-sm-4 m-t-20">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Aggent Comission 2 in %</p>
								<input type="text" class="form-control fg-input" formControlName = "comission2" name = "comission2" [readonly] = "!comissionCheck">
							</div>
						</div>
					</div> -->
				</div>

				<div class="row m-t-25">
					
					<!--<label class="checkbox checkbox-inline m-r-20">						
						<input type="checkbox" value="againstHForm" formControlName = "aginst_Hform" name = "aginst_Hform" (change)="checkAgianstHform()">
						<i class="input-helper"></i>
						Against H-Form
					</label>-->
				</div>
			</div>
		</div>



        <div class="margin-20">
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
        <!--<div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
		  <pre>{{newpurchase.purchase_date}}</pre>
        </div>-->
    </form>
</div>

</dashboard>