<dashboard><div class="container">
	<form (ngSubmit)="onSubmit()" #purchaseForm="ngForm">
		<div class="block-header">
			<h2>New Purchase Entry</h2>
			<ul class="actions">
				<li>
					<a class="icon-pop" href="#">
						<i class="zmdi zmdi-trending-up"></i>
					</a>
				</li>
				<li>
					<a class="icon-pop" href="#">
						<i class="zmdi zmdi-check-all"></i>
					</a>
				</li>
				<li class="dropdown">
					<a class="icon-pop" href="#" data-toggle="dropdown">
						<i class="zmdi zmdi-more-vert"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li>
							<a href="#">Refresh</a>
						</li>
						<li>
							<a href="#">Manage Widgets</a>
						</li>
						<li>
							<a href="#">Widgets Settings</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Basic Purchase Information</h2>
			</div>

			<div class="card-body card-padding">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" [(ngModel)] = "newpurchase.invoice_number" name = "invoice_number" placeholder="Invoice Number">								
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" [(ngModel)] = "newpurchase.currency_convrsion_rate" name = "currency_convrsion_rate" placeholder="Conversion Rate ($&#8594;&#8377;)">								
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" [(ngModel)] = "newpurchase.payment_terms" name="payment_terms" placeholder="Terms of Payment" (blur)="calcDay(newpurchase.payment_terms)">
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<!--<ng2-datepicker [options]="options" [(ngModel)]="newpurchase.purchase_date" [ngModelOptions]="{standalone: true}"></ng2-datepicker>-->
						<material-datepicker [(date)]="newpurchase.purchase_date" (onSelect)="calcDay($event)" placeholder="Purchase Date" ></material-datepicker>
					</div>
					<!--<div class="col-sm-4">
						<ng2-datepicker [options]="options" [(ngModel)]="newpurchase.due_date" [ngModelOptions]="{standalone: true}"></ng2-datepicker>
					</div>-->					
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" [(ngModel)] = "newpurchase.due_date" name="due_date" placeholder="Due Date" disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<ng-select [allowClear]="true"
							[items]="countries"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)]="newpurchase.country"
							placeholder="Select The Country" name="country">
						</ng-select> 
					</div>
				</div>

				<div class="row m-t-15">
					<div class="col-sm-8">
						<div class="form-group ">
							<div class="fg-line">
								<textarea class="form-control" rows="3" name="notes" [(ngModel)] = "newpurchase.notes" placeholder="Notes or Remarks"></textarea>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Dealer and Broker Details</h2>
			</div>
			<div class="card-body card-padding">
				<div class="row">
					<div class="col-sm-12">
						<p class="f-500 c-black m-b-15">Dealer Name</p>
						<ng-select [allowClear]="true"
							[items]="names"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.account_name"
							placeholder="Select Dealer's Name" name = "account_name">
						</ng-select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 m-t-15">
						<p class="f-500 c-black m-b-15">Broker Name</p>
						<ng-select [allowClear]="true"
							[items]="brokers"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.brokerName"
							placeholder="No Broker Name selected" name = "brokerName">
						</ng-select>
					</div>
					<div class="col-sm-4 m-t-15">
						<p class="f-500 m-b-15 c-black">Broker Type</p>
						<ng-select [allowClear]="true"
							[items]="brokertypes"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.brokerType"
							placeholder="No Broker Type selected" name = "brokerType">
						</ng-select>
					</div>

					<div class="col-sm-4 m-t-45">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" [(ngModel)] = "newpurchase.brokerage" name = "brokerage" placeholder="Brokerage in %">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Goods Details</h2>
			</div>

			<div class="card-body card-padding">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="PCS ID" [(ngModel)] = "newpurchase.PCS_ID" name = "PCS_ID">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Lot Number" name = "diamond_lot_number" [(ngModel)] = "newpurchase.diamond_lot_number">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Certificate Number" name = "certificate_number" [(ngModel)] = "newpurchase.certificate_number">
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<p class="f-500 m-b-10 c-black">Stock Group</p>
						<ng-select [allowClear]="true"
							[items]="groups"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.stock_status_group"
							placeholder="No Stock Group selected" name = "stock_status_group">
						</ng-select>
					</div>
					<div class="col-sm-4">
						<p class="f-500 m-b-10 c-black">Shape of Diamond</p>
						<ng-select [allowClear]="true"
							[items]="shapes"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.diamond_shape"
							placeholder="No Shape of Diamond selected" name = "diamond_shape">
						</ng-select>
					</div>
					<div class="col-sm-4">
						<p class="f-500 m-b-10 c-black">Color of Diamond</p>
						<ng-select [allowClear]="true"
							[items]="colors"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.diamond_color"
							placeholder="No Color of Diamond selected" name = "diamond_color">
						</ng-select>
					</div>					
				</div>

				<div class="row m-t-25">					
					<!--<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Diamond Clarity" [(ngModel)] = "newpurchase.diamond_clarity" name = "diamond_clarity">
							</div>
						</div>
					</div>-->
					<div class="col-sm-4">
						<!--<p class="f-500 m-b-10 c-black">Color of Diamond</p>-->
						<ng-select [allowClear]="true"
							[items]="clarity"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.diamond_color"
							placeholder="No Clarity of Diamond selected" name = "diamond_color">
						</ng-select>
					</div>
					<!--<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Size of Diamond" [(ngModel)] = "newpurchase.diamond_size" name = "diamond_size">
							</div>
						</div>
					</div>-->
					<div class="col-sm-4">
						<!--<p class="f-500 m-b-10 c-black">Color of Diamond</p>-->
						<ng-select [allowClear]="true"
							[items]="sizes"
							[disabled]="disabled"
							(data)="refreshValue($event)"
							(selected)="selected($event)"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newpurchase.diamond_color"
							placeholder="No Size of Diamond selected" name = "diamond_color">
						</ng-select>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Kapan" [(ngModel)] = "newpurchase.kapan" name = "kapan">
							</div>
						</div>
					</div>
				</div>

				<div class="row m-t-20">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Lab Type" [(ngModel)] = "newpurchase.LAB_type" name = "LAB_type">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Total Number of Pieces" [(ngModel)] = "newpurchase.total_diamond_pcs" name = "total_diamond_pcs">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Total Number of Carats" [(ngModel)] = "newpurchase.total_diamond_carat" name = "total_diamond_carat" >
							</div>
						</div>
					</div>
				</div>

				<div class="row m-t-20">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Bill Type" [(ngModel)] = "newpurchase.bill_type" name = "bill_type">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Polish Type" [(ngModel)] = "newpurchase.polishing_type" name = "polishing_type">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Item" [(ngModel)] = "newpurchase.item" name = "item">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h2>Purchase Revenue Details</h2>
			</div>

			<div class="card-body card-padding">
				<div class="row">
					<p class="col-sm-12 c-black f-500 m-b-5 m-t-20">Less Discount</p>
					<div class="col-sm-4 m-t-15">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="LESS1" [(ngModel)] = "less.less1" name = "less1">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-15">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="LESS2" [(ngModel)] = "less.less2"  name = "less2">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-15">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="LESS3" [(ngModel)] = "less.less3" name = "less3">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<p class="col-sm-12 c-black f-500 m-b-5 m-t-20">Comission</p>
					<div class="col-sm-4 m-t-15">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Comission1" [(ngModel)] = "comission.comission1" name = "comission2">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-15">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Comission2" [(ngModel)] = "comission.comission2" name = "comission2">
							</div>
						</div>
					</div>
				</div>

				<div class="row m-t-25">
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="RAP Price" [(ngModel)] = "newpurchase.RAP_price" (blur)="RPCaratCost()" name = "RAP_price">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Cost Discount %" [(ngModel)] = "newpurchase.cost_discount" (blur)="RPCaratCost()" name = "cost_discount">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Rate per Carat Cost" [(ngModel)] = "newpurchase.cost_rate_per_carat" name = "cost_rate_per_carat" disabled="true">
							</div>
						</div>
					</div>					
				</div>

				<div class="row m-t-25">
					<div class="col-sm-4">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="WD Discount%" [(ngModel)] = "newpurchase.wd_rate" name = "wd_rate" (blur)="WDRPCarat()">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="WD Rate per Carat" [(ngModel)] = "newpurchase.wd_rate_carat" name = "wd_rate_carat" disabled="true">
							</div>
						</div>
					</div>
				</div>

				<div class="row m-t-25">
					<p class="col-sm-12 c-black f-500">Rate</p>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Rate in INR(&#8377;)" [(ngModel)] = "newpurchase.rate_INR" name = "rate_INR">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Rate in USD($)" [(ngModel)] = "newpurchase.rate_dolar" name="rate_dolar">
							</div>
						</div>
					</div>

				</div>

				<div class="row m-t-25">
					<p class="col-sm-12 c-black f-500">Average</p>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Average in INR(&#8377;)" [(ngModel)] = "newpurchase.avg_INR" name = "avg_INR">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Average in USD($)" [(ngModel)] = "newpurchase.avg_dolar" name = "avg_dolar">
								<label class="fg-label"></label>
							</div>
						</div>
					</div>

				</div>

				<div class="row m-t-25">
					<p class="col-sm-12 c-black f-500">Amount</p>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Amount in INR(&#8377;)" [(ngModel)] = "newpurchase.amount_INR" name = "amount_INR">
							</div>
						</div>
					</div>
					<div class="col-sm-4 m-t-5">
						<div class="form-group ">
							<div class="fg-line">
								<input type="text" class="form-control fg-input" placeholder="Amount in USD($)" [(ngModel)] = "newpurchase.amount_dolar" name = "amount_dolar">
							</div>
						</div>
					</div>

				</div>
				<div class="row m-t-25">
					<div class="col-sm-4 m-t-5">
						<ng-select [allowClear]="true"
						[items]="taxes"
						[disabled]="disabled"
						(data)="refreshValue($event)"
						(selected)="selected($event)"
						(removed)="removed($event)"
						(typed)="typed($event)"
						[(ngModel)] = "newpurchase.taxes"
						placeholder="No Taxes selected" name = "taxes">
					</ng-select>
					</div>
					<div class="form-group  col-sm-4">
						<div class="fg-line">
							<input type="text" class="form-control fg-input" placeholder="% Tax" [(ngModel)] = "newpurchase.mVAT" name = "mVAT"> 
						</div>
					</div>
					<label class="checkbox checkbox-inline m-r-20">
						<input type="checkbox" value="againstHForm" [(ngModel)] = "newpurchase.aginst_Hform" name = "aginst_Hform">
						<i class="input-helper"></i>
						Against H-Form
					</label>
				</div>
			</div>
		</div>

		<button class="btn btn-success btn-lg waves-effect" type="submit"><i class="zmdi zmdi-check"></i>&nbsp;&nbsp;&nbsp;Submit</button>
	</form>
</div>
</dashboard>
