<dashboard>

	<div class="container" *ngIf="!loadInvoiceComponent">
	<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
		<div class="block-header">
			<h2>New Jangad Issue Entry</h2>			
		</div>
		<div class="card">
			<div class="card-header ch-alt">
				<h2 style="display: inline-block">Basic Jangad in Information</h2>
				<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#basicInfo" aria-expanded="true" aria-controls="basicInfo"></a>
			</div>

			<div class="card-body card-padding collapse in" id="basicInfo">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Jangad Invoice Number</p>
								<input type="text" class="form-control fg-input" formControlName = "invoice_number" name = "invoice_number">
							</div>
						</div>
					</div>					
					<div class="col-sm-3">
						<p class="form-label">Jangad in Date</p>						
						<span class="dp-container">	
							<md-input-container class="mdInputContainer">
								<input mdInput type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" name="date" [(ngModel)]="newmemo.date" [ngModelOptions]="{standalone: true}" disabled="true">
								<button mdSuffix class="matDateickerToggle last"  [mdDatepickerToggle]="picker"></button>
							</md-input-container>
							<md-datepicker #picker></md-datepicker>	
						</span>
						<!--<material-datepicker [(date)]="newmemo.date" (onSelect)="calcDay($event)"></material-datepicker>-->
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Terms</p>
								<input type="text" class="form-control fg-input" formControlName = "no_of_days" name = "no_of_days" (blur)="calcDay(newmemo.no_of_days)">	
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Due Date</p>
								<input type="text" class="form-control fg-input" formControlName = "due_date" name = "due_date">	
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="card-header ch-alt">
				<h2 style="display: inline-block">Dealer and Broker Details</h2>
				<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#partyBrokerDetails" aria-expanded="true" aria-controls="partyBrokerDetails"></a>
			</div>

			<div class="card-body card-padding collapse in" id="partyBrokerDetails">
				<div class="row">
					<div class="col-sm-6">
						<p class="form-label">Dealer Name</p>
						<ng-select [allowClear]="true"
							[items]="names"
							[disabled]="disabled"							
							(selected)="selected($event,'account_name')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newmemo.account_name"
							placeholder="No Dealer Name selected" name = "account_name" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-3">
						<p class="form-label">Broker Name</p>
						<ng-select [allowClear]="true"
							[items]="brokers"
							[disabled]="disabled"	
							(selected)="selected($event,'broker')"
							(removed)="removed($event)"
							(typed)="typed($event)"
							[(ngModel)] = "newmemo.broker"
							placeholder="No Broker Name selected" name = "broker" [ngModelOptions]="{standalone: true}">
						</ng-select>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="fg-line">
								<p class="form-label">Reference</p>
								<input type="text" class="form-control fg-input" formControlName = "reference" name = "reference">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div formArrayName="memoDetails">
			<div *ngFor="let memoDetails of myForm.controls.memoDetails.controls; let i=index">
				<div class="card">
				<div class="card-header ch-alt">
					<h2 style="display: inline-block">Memo Item {{i + 1}}</h2>
					<span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.memoDetails.controls.length > 1" (click)="removePiece(i)"></span>
					<a class="zmdi zmdi-format-valign-center zmdi-hc-fw pull-right collapseButton" data-toggle="collapse" href="#memoDtails{{i}}" aria-expanded="true" aria-controls="memoDtails"></a>
				</div>
				<div [formGroupName]="i" id="memoDtails{{i}}" class="collapse in">
					<app-memo-details [mygroup]="myForm.controls.memoDetails.controls[i]"></app-memo-details>
				<!--<address></address>-->
				</div>
			</div>
			</div>
		</div>
		<a (click)="memoAdd()" class="btn btn-danger btn-sm  m-btn waves-effect"><i class="zmdi zmdi-plus"></i> Add Memo Item</a>

		<button class="btn btn-success btn-sm waves-effect" type="submit">Generate Invoice</button>
		<a (click) = "save(myForm, true)">Only Submit Data</a>
	</form>
</div>

<app-memo-invoice (childData)='handleEvent($event)' [memoIssueData] = "finalMemoData" *ngIf="loadInvoiceComponent"></app-memo-invoice>
</dashboard>
