<!--The whole content below can be removed with the new code.-->
<div class="dashboard">
<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="index-2.html">Material Admin</a>
    </li>

    <li class="pull-right">
      <ul class="top-menu">
        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>

        <li id="top-search">
          <a href="#"><i class="tm-icon zmdi zmdi-search"></i></a>
        </li>

        <li class="dropdown">
          <a data-toggle="dropdown" href="#"><i class="tm-icon zmdi zmdi-more-vert"></i></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li class="skin-switch hidden-xs">
              <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
              <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
              <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
              <span class="ss-skin bgm-teal" data-skin="teal"></span>
              <span class="ss-skin bgm-orange" data-skin="orange"></span>
              <span class="ss-skin bgm-blue" data-skin="blue"></span>
            </li>
            <li class="divider hidden-xs"></li>
            <li class="hidden-xs">
              <a data-action="fullscreen" href="#"><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
            </li>
            <li>
              <a data-action="clear-localstorage" href="#"><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
            </li>
            <li>
              <a href="#"><i class="zmdi zmdi-face"></i> Privacy Settings</a>
            </li>
            <li>
              <a href="#"><i class="zmdi zmdi-settings"></i> Other Settings</a>
            </li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>


  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <div class="tsw-inner">
      <i id="top-search-close" class="zmdi zmdi-arrow-left"></i> <input type="text">
    </div>
  </div>
</header>

<section id="main" data-layout="layout-1">
  <aside id="sidebar" class="sidebar c-overflow mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" tabindex="0">
      <div id="mCSB_1_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
        <div class="profile-menu">
          <a href="#">
            <div class="profile-pic">
              <img src="assets/theme/img/profile-pics/1.jpg" alt="" class="mCS_img_loaded">
            </div>

            <div class="profile-info">
              Malinda Hollaway

              <i class="zmdi zmdi-caret-down"></i>
            </div>
          </a>

          <ul class="main-menu">
            <li>
              <a href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
              <a (click)="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
          </ul>
        </div>

        <ul class="main-menu">
          <li class="active">
            <a [routerLink]="['/dashboard']"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a>
          </li>
          
          <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-shopping-cart"></i>Purchase</a>
            <ul style="display: none;">
                <li><a [routerLink]="['/purchase-entry']">New Purchase Entry</a></li>
                <li><a [routerLink]="['/purchase-return']">Purchase Return</a></li>
                <li><a [routerLink]="['/purchase-report']">Purchase Report</a></li>
            </ul>
          </li>

        	<li class="sub-menu">
	            <a href="#"><i class="zmdi zmdi-money-box"></i>Sales</a>
	            <ul style="display: none;">
	                <li><a [routerLink]="['/sales-entry']">New Sales Entry</a></li>
	                <li><a [routerLink]="['/sales-return']">Sales Return</a></li>
	                <li><a [routerLink]="['/sales-report']">Sales Report</a></li>
	            </ul>
        	</li>
          
          <li class="sub-menu">
	            <a href="#"><i class="zmdi zmdi-file-text"></i>Memo</a>
	            <ul style="display: none;">
	                <li><a [routerLink]="['/memoin']">Memo In</a></li>
	                <li><a [routerLink]="['/memoout']">Memo Out</a></li>
	            </ul>
        	</li>

          <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-shopping-cart"></i>Bills</a>
            <ul style="display: none;">
                <li><a [routerLink]="['/payable-bill']">Payable Bill</a></li>
                <li><a [routerLink]="['/recievable-bill']">Recievable Bill</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-shopping-cart"></i>CashBook</a>
            <ul style="display: none;">
                <li><a [routerLink]="['/new-cashbook']">New Cashbook Entry</a></li>
                <li><a [routerLink]="['/cashbook-report']">Cashbook Reports</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
    <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
      <div class="mCSB_draggerContainer">
        <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 36px; max-height: 159px;" oncontextmenu="return false;">
          <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
        </div>
        <div class="mCSB_draggerRail"></div>
      </div>
    </div>
    <div id="mCSB_1_scrollbar_horizontal" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;">
      <div class="mCSB_draggerContainer">
        <div id="mCSB_1_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;">
          <div class="mCSB_dragger_bar"></div>
        </div>
        <div class="mCSB_draggerRail"></div>
      </div>
    </div>
  </aside>
  <section id="content">
  	<ng-content></ng-content>
  </section>
  </section>
  </div>
  