<dashboard>
 <div class="container">
   <div class="block-header">
      <h2>Company Details</h2>
    </div>


    <form #profile="ngForm" (ngSubmit)="onSubmit(profile)">
      <div class="card">
        <div class="card-body card-padding">

          <label class="c-black f-500 labels">Company Name</label>
          <div class="form-group noneditable">
            <div class="fg-line">
              <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.c_name" name="c_name">
            </div>
          </div>

          <label class="c-black f-500 labels">Company Address</label>
          <div class="form-group noneditable">
            <div class="fg-line">
              <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.address" name="address">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <label class="c-black f-500 labels">Phone Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.phone" name="phone">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <label class="c-black f-500 labels">Mobile Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.mobile" name="mobile">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <label class="c-black f-500 labels">Email</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable  [(ngModel)]="companydata.email" name="email">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <label class="c-black f-500 labels">From</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.from" name="from">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="c-black f-500 labels">To</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.to" name="to" >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <label class="c-black f-500 labels">GST Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.GST" name="GST">
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label class="c-black f-500 labels">PAN Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.PAN" name="PAN">
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label class="c-black f-500 labels">IEC Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable  [(ngModel)]="companydata.IEC" name="IEC">
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label class="c-black f-500 labels">QEC Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" [disabled]=isEditable [(ngModel)]="companydata.QBC" name="QBC">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <button *ngIf="!isEditable" class="btn" (click)="onSubmit()">Save</button>
    </form>

    <button *ngIf="isEditable" type="button"  (click)="onedit(data)" class="btn btn-icon command-edit waves-effect waves-circle">
                <span class="zmdi zmdi-edit"></span>
              </button>
 </div>
    
</dashboard>
