<dashboard>
 <div class="container-fluid">
   <div class="block-header">
      <h2>Company Profile</h2>
    </div>

    <div class="card">
      <div class="card-body card-padding">
        

          <div>
          <button  type="button"  (click)="addcompany()" class="btn btn-info btn-sm btn-icon-text waves-effect">
            <span class="zmdi zmdi-account-add"></span>
            <span>Add Companies</span>
          </button>
        </div>
        <form [formGroup]="companyProfile" (ngSubmit)="onSubmit()" novalidate>


        <div formArrayName="companies" *ngIf="companies.controls.length>0" class=" m-t-20 well well-lg">
          <div *ngFor="let company of companies.controls; let i=index" [formGroupName]="i" class="company">
                <div class="ch-alt">
					      <h4 style="display: inline-block">Company {{i + 1}}</h4>
					      <span class="glyphicon glyphicon-remove pull-right" (click)="removecompany(i)"></span>
                </div>
              <company-details [companygroup]="company"></company-details>
          </div>
        </div>

        <!-- <p>{{companyProfile.value | json}}</p> -->
        
        <button *ngIf="companies.controls.length>0" class="btn">Save</button> 
    </form>

    
    </div>
  </div>

  <div class="card">
    <div class="card-body card-padding">
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let title of comtitles">{{title[0]}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companydata" (click)="viewprofile(company)">
            <td *ngFor="let title of comtitles">{{company[title[1]]}}</td>
            <!--<td class="text-left">
              <button type="button"  (click)="onedit(data)" class="btn bgm-gray btn-icon waves-effect waves-circle">
                <span class="zmdi zmdi-edit"></span>
              </button>
              <button type="button" (click)="ondelete(data)" class="btn bgm-gray btn-icon waves-effect waves-circle">
                <span class="zmdi zmdi-delete"></span>
              </button>
            </td>-->
          </tr>
        </tbody>
      </table>
          <!--<p>{{companyBank.value | json}}</p>-->
        </div>
    </div>
  </div>


 </div>
</dashboard>
