<div class="container-fluid">
        <div class="row no-gutters">
           
            <div class="col col-lg-3 col-md-4">
                <div class="login-form">
                    <div class="login-content p-30">
                        <form #f="ngForm" novalidate (ngSubmit)="f.valid && onSubmit(f)" >
    
    

                            <div class="well well-lg">
                                <div class="m-b-20"><label>Country:</label></div>
                                <md-radio-group [(ngModel)]="fields.country" (change)="countryChange()" class="main-filter" name="billtype">
              <md-radio-button  class="radio-button" *ngFor="let option of countries"  [value]="option" >{{option}}</md-radio-button>
            </md-radio-group>
                            </div>
    
    
    
                            
                                <div>
                                    <label for="email">Email</label>
                                        <input 
                                        type="email" 
                                        id="email" 
                                        class="form-control" 
                                        name="email" 
                                        #email="ngModel" 
                                        [(ngModel)]="fields.email" 
                                        ValidEmail
                                        required
                                        >
                                    
                                </div>
    
    
                                <div *ngIf="email.touched && email.errors">
                                    <div class="notify-error">
                                        <strong *ngIf="email.errors.required">Email can't be Empty</strong>
                                        <strong *ngIf="!email.errors.required && email.errors.email">Please enter proper email</strong>
                                    </div>
                                </div>
    
                                
                                
                                <button  class="btn btn-primary m-t-20"   type="submit">Reset Password</button>
                                <div><a [routerLink]="['/login']">Back to Login Page</a></div>
                            
                            
                            <p *ngIf="error"  class="alert alert-danger alert-dismissible form-error">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>{{error}}</p>
                        </form>
                    </div>
    
    
    
    
                </div>
            </div>
        </div>
    </div>