<div [formGroup]="companyform">
<div class="row">
            <div class="col-lg-2">
          <label class="c-black f-500 labels">Company Name</label>
          <div class="form-group noneditable">
            <div class="fg-line">
              <input type="text" class="form-control" formControlName="c_name">
            </div>
          </div>
            </div>

            <div class="col-lg-2">
          <label class="c-black f-500 labels">Company Address</label>
          <div class="form-group noneditable">
            <div class="fg-line">
              <input type="text" class="form-control" formControlName="address">
            </div>
          </div>
            </div>  

            <div class="col-lg-2">
              <label class="c-black f-500 labels">Phone Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="phone">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <label class="c-black f-500 labels">Mobile Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control"  formControlName="mobile">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <label class="c-black f-500 labels">Email</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="email">
                </div>
              </div>
            </div>
          

          
            <div class="col-lg-2">
              <label class="c-black f-500 labels">From</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control fg-input mdatepicker" [mdDatepicker]="datepicker"  formControlName="from">
                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="datepicker"></button>
                <md-datepicker #datepicker></md-datepicker>	
                </div>
              </div>
            </div>

            <div class="col-lg-2">
              <label class="c-black f-500 labels">To</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="to" >
                </div>
              </div>
            </div>
          

          
            <div class="col-lg-2">
              <label class="c-black f-500 labels">GST Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="GST">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <label class="c-black f-500 labels">PAN Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="PAN">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <label class="c-black f-500 labels">IEC Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="IEC">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <label class="c-black f-500 labels">QEC Number</label>
              <div class="form-group noneditable">
                <div class="fg-line">
                  <input type="text" class="form-control" formControlName="QBC">
                </div>
              </div>
            </div>
          </div>
</div>