<dashboard>
  <div class="container">
    <div class="block-header">
      <h2></h2>
    </div>

    <form #filters="ngForm" (ngSubmit)="onSubmit(filters)">
    <div class="card searchfilters">
      <div class="card-header">Filter</div>
      <div class="card-body card-padding">

        <md-radio-group [(ngModel)]="searchvalues.inventory" class="main-filter" name="inventory">
          <md-radio-button  class="radio-button" *ngFor="let option of searchatts.inventory" (change)="getoption(option)"[value]="option" >{{option}}</md-radio-button>
        </md-radio-group>

        
  
        <button *ngIf="searchvalues.inventory=='all'"  type="submit" class="btn btn-info waves-effect">Get Result</button>

        <div class="filter-container" ngModelGroup="filter" *ngIf="searchvalues.inventory=='filter'">

          <!--<md-checkbox
          class="example-margin"
          [checked]="checked"
          [indeterminate]="indeterminate"
          [align]="align"
          [disabled]="disabled"> 
        I'm a checkbox
      </md-checkbox>-->
          <!--<md-radio-group [(ngModel)]="searchvalues.filterby"  name="filterby">
            <md-radio-button  class="radio-button" *ngFor="let option of  searchatts.filterby" [value]="option">{{option}}</md-radio-button>
          </md-radio-group>-->

          <div *ngFor="let datas of filterdata; index as i">
            <div class="vikas" ngModelGroup={{filterdata[i].item}}>
              <h1>{{filtertitles[i]}}</h1>
              <div *ngFor="let data of filterdata[i].items">
                <md-checkbox *ngIf="data" ngModel name={{data}}>{{data}}</md-checkbox>
              </div>
            </div>  
          </div>

          <button type="submit"  class="btn btn-info waves-effect">Get Result</button>
          
        </div>
      </div>
    </div>
    <p>{{ filters.value | json}}</p>
    </form>

    <!--<div class="card">
      <div class="card-header">Reports</div>
    <div class="card-body  table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let title of titles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data">
          </tr>
            <td *ngFor="let title of titles">{{data[title]}}</td>
        </tbody>
      </table>
    </div>
    </div>-->

  </div>
</dashboard>
