<dashboard>
  <div class="container-fluid">
    <div class="block-header">
      <h2></h2>
    </div>

    <form #filters="ngForm" (ngSubmit)="onSubmit(filters,false)">
    <div class="card searchfilters">
      <div class="card-header">Filter</div>
      <div class="card-body card-padding">
<!-- 
        <md-radio-group [(ngModel)]="searchvalues.inventory" class="main-filter" name="inventory">
          <md-radio-button  class="radio-button" *ngFor="let option of searchatts.inventory" (change)="getoption(option)"[value]="option" >{{option}}</md-radio-button>
        </md-radio-group>-->
        
        <div  *ngIf="showfilterables"  class="filter-modal">
          <div class="filterables-container">
            
            <button type="button" (click)="getallfilterdata()"  class="btn btn-info btn-lg waves-effect">All</button>
            <h2>Searches Found:{{searchcount}}</h2>
            <hr>
            
            <div  ngModelGroup="filter" class="filter-container">
              <div *ngFor="let datas of filterdata; index as i" class="filter-boxes">
                <div class="shade-bg">
                  <div ngModelGroup={{filterdata[i].item}}>
                    <p class="c-black f-500 labels">{{filtertitles[i]}}</p>
                    <div *ngFor="let data of filterdata[i].items">
                      <md-checkbox *ngIf="data" (change)="onSubmit(filters,true)" ngModel name={{data}}>{{data}}</md-checkbox>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div ngModelGroup="filter-range">
              
            </div>
            <button type="submit" class="btn btn-info waves-effect">Get Result</button> 
          </div>
        </div>
        <button type="button" (click)="showpopup()" class="btn btn-info waves-effect">Filter</button>
      </div>
    </div>
    <p>{{ filters.value | json}}</p>
    </form>

    <div class="card">
      <div class="card-body card-padding overflow">
       <div class="card-header">
         <form #filterresult="ngForm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let title of resulttitles">{{title[0]}}</th>
              </tr>
            </thead>
            <tbody style=" height: 130px; overflow-y: scroll">
              <tr *ngFor="let datas of result">
                <td><md-checkbox *ngIf="datas" (change)="getbarcodeid(filterresult)" ngModel name={{datas.Stock_ID}}></md-checkbox></td>
                <td *ngFor="let properties of resulttitles">{{datas[properties[1]]}}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-info waves-effect">Generate Barcode</button>
          <ngx-barcode [bc-value]="avalue" [bc-display-value]="true"></ngx-barcode>
          </form>
        </div>
        <p>{{filterresult.value | json}}</p>
    </div>
    </div>

    


  </div>
</dashboard>
