<dashboard>
  <div class="container-fluid">
    <div class="block-header">
      <h2></h2>
    </div>
    
    <form #filters="ngForm" (ngSubmit)="onSubmit(filters,false)">
      <div class="card searchfilters">
        <div class="card-header"></div>
        <div class="card-body card-padding">
          <!-- 
            <md-radio-group [(ngModel)]="searchvalues.inventory" class="main-filter" name="inventory">
          <md-radio-button  class="radio-button" *ngFor="let option of searchatts.inventory" (change)="getoption(option)"[value]="option" >{{option}}</md-radio-button>
        </md-radio-group>-->
        
        <div  *ngIf="showfilterables"  class="filter-modal">
          <div class="filterables-container">
            
            <div class="filter-collection-options">
            <md-radio-group [(ngModel)]="initfilterby" name="filterby">
                <md-radio-button  class="radio-button" *ngFor="let option of  collectiontype" (change)="resetcollection(option)" [value]="option">{{option}}</md-radio-button>
              </md-radio-group>
              </div>

            <h3>Stones Found:{{searchcount}}</h3>
            <hr>

            <div class="date-filter-container">

            <div class="date-option">
              <md-checkbox [(ngModel)]="datefilter" (change)="datetoggle()" name="dates">Date</md-checkbox>
            </div>

            

            <div ngModelGroup="date" class="from-to-dates" *ngIf="datefilter">
              
                <div class="date-pick">
                  <label for="from">From</label>
                  <span class="dp-container">
                  <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="picker"></button>
                  <input type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="picker" required name="fromDate" [(ngModel)]="fromDate">
                  <md-datepicker #picker></md-datepicker>	
                  </span>
                </div>

                <div class="date-pick">
                  <label for="from">To</label>
                  <span class="dp-container">
                  <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="pickers"></button>
                  <input type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="pickers" required name="toDate" [(ngModel)]="toDate">
                  <md-datepicker #pickers></md-datepicker>	
                  </span>
                </div>
              
            </div>
            </div>
            
            <div  ngModelGroup="filter" class="filter-container">
              <div *ngFor="let datas of filterdata; index as i" class="filter-boxes">
                <div class="shade-bg">
                  <div ngModelGroup={{filterdata[i].item}}>
                    <p class="c-black f-500 labels">{{filtertitles[i]}}</p>
                    <div *ngFor="let data of filterdata[i].items">
                      <md-checkbox *ngIf="data" (change)="onSubmit(filters,true)" ngModel name={{data}}>{{data}}</md-checkbox>
                    </div>
                  </div> 
                </div>
              </div>

              <div class="filter-boxes">
                <div class="shade-bg">
                  <div ngModelGroup="total_diamond_carat">
                    <p class="c-black f-500 labels">carat</p>
                    <div>
                      <div *ngFor="let data of caratrange[0]">
                        <md-checkbox [ngModel]="range0" name={{data}}>{{data}}</md-checkbox>
                      </div>
                      <div *ngFor="let data of caratrange[1]">
                        <md-checkbox [ngModel]="range1" name={{data}}>{{data}}</md-checkbox>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>


              <div class="filter-boxes">
                <div class="shade-bg">
                  <div>
                    <p class="c-black f-500 labels">carat</p>
                    <div> 
                      <md-checkbox (change)="onSubmit(filters,true)"  [(ngModel)]="range0" name="range0">0.01-0.03</md-checkbox>
                      <md-checkbox (change)="onSubmit(filters,true)"  [(ngModel)]="range1" name="range1">0.03-0.07</md-checkbox>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
              


            <button type="submit" [disabled]="!filters.valid" class="btn btn-info waves-effect">Get Result</button> 
        </div>
        </div>
        <button type="button" (click)="showpopup()" class="btn btn-info waves-effect">Search</button>
        <hr>
        <button type="button" (click)="generatebarcode()" [disabled]="selected.length==0" class="btn bgm-lightgreen waves-effect">Generate Barcode</button>
        <button type="button" class="btn bgm-lightgreen waves-effect" (click)="printlabel()">Print Label</button>
        <span *ngIf="initfilterby=='stock in hand'">
        <button type="button" [disabled]="selected.length==0" class="btn bgm-lightgreen waves-effect">BulK Sell</button>
        <button type="button" [disabled]="selected.length==0" class="btn bgm-lightgreen waves-effect">Bulk Memo</button>
        <button type="button" [disabled]="selected.length==0" class="btn bgm-lightgreen waves-effect">Bulk Lab Issue</button>
        </span>
        <button type="button" (click)="printxl()"  [disabled]="selected.length==0" class="btn bgm-lightgreen waves-effect">Download Report</button>
      </div>
      </div>

    <!-- <p>{{ filters.value | json}}</p> -->
  </form>

  <div class="card" id="print-div" >
    <div class="label-container">
      <div class="inputs">
        <div class="single-line">
          <label>St. Id</label>
          <input type="text">
        </div>
        <div class="single-line">
            <label for="shape">Shape</label>
            <input type="text" id="shape">
          </div>
          <div class="single-line">
              <label for="color">color</label>
              <input type="text" id="color">
          </div>
          <div class="single-line">
                <label for="clarity">clarity</label>
                <input type="text" id="clarity">
          </div>
          <div class="single-line">
            <label for="cut">cut</label>
            <input type="text" id="cut">
          </div>
          <div class="single-line">
              <label for="pol">pol</label>
              <input type="text" id="pol">
          </div>
          <div class="single-line">
              <label for="sym">sym</label>
              <input type="text" id="sym">
          </div>
          <div class="single-line">
              <label for="fl">fl</label>
              <input type="text" id="fl">
          </div>

          <div class="single-line">
              <label for="weight">weight</label>
              <input type="text" id="weight">
          </div>


      </div>
    </div>
    <div *ngIf="barcodes.length>0">
    <ngx-barcode bc-text-position="top" bc-height="47" bc-width="1" *ngFor="let data of barcodes" [bc-value]="data" [bc-display-value]="true"></ngx-barcode>
    <button type="button" *ngIf="barcodes.length>0" (click)="printbarcode()" >Print Barcodes</button>
  </div>
  </div>

  <div class="card" id="results">
    <div class="p-0 card-body card-padding overflow">
      <div class="p-0 card-header">
        <form #filterresult="ngForm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let title of resulttitles">{{title[0]}}</th>
              </tr>
            </thead>
            <tbody style=" height: 130px; overflow-y: scroll">
              <tr *ngFor="let datas of result" [class.lab]="datas.status=='lab'" [class.memo]="datas.status=='memoout'">
                <td><md-checkbox *ngIf="datas" (change)="getselecteddata(filterresult)" (ngModel)=datas name={{datas|json}}></md-checkbox></td>
                <td *ngFor="let properties of resulttitles">{{datas[properties[1]]}}</td>
              </tr>
            </tbody>
          </table>
          <!-- <ngx-barcode [bc-value]="avalue" [bc-display-value]="true"></ngx-barcode> -->
          </form>
        </div>
        <p>{{filters.value | json}}</p>
    </div>
    </div>

    


  </div>
</dashboard>
