<dashboard>
  
  <div class="container">
    
      <div class="block-header" style="overflow: hidden">
        <h2 style="display : inline-block">Purchase Return</h2>
        <a class="btn btn-info waves-effect pull-right" (click) = "export()">Export as Excel</a>
    </div>

    
    <form #filters="ngForm" (ngSubmit)="onSubmit(filters)">
        <div class="card searchfilters">
            <div class="card-header">Filter</div>
            <div class="card-body card-padding">

                <md-radio-group [(ngModel)]="searchvalues.filter" class="main-filter" name="filter">
                <md-radio-button  class="radio-button" *ngFor="let option of searchatts.filter" [value]="option" >{{option}}</md-radio-button>
                </md-radio-group>
                <button *ngIf="searchvalues.filter=='all'"  type="submit" class="btn btn-info waves-effect">Get Result</button>
                <div class="filter-container" *ngIf="searchvalues.filter=='filter'">
                    <span>Filter By : </span>
                    <md-radio-group [(ngModel)]="searchvalues.filterby"  name="filterby">
                        <md-radio-button  class="radio-button" (click)="resetsearch()" *ngFor="let option of  searchatts.filterby" [value]="option">{{option}}</md-radio-button>
                    </md-radio-group>
                    <div *ngIf="searchvalues.filterby!='date'" class="search search-box">
                        <div class="input-group">
                            <input type="text" class="search-field form-control" #searchBox (keyup)="search(searchBox.value)" name="search" [(ngModel)]="searchvalues.search" [placeholder]="searchvalues.filterby | uppercase">
                            <div *ngIf="issearchempty()" class="search-suggestion">
                                <p *ngFor="let result of  searchresult" (click)="setvalue(result)">{{result}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="searchvalues.filterby=='date'" class="filter-date">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="from">From</label>
                                <span class="dp-container">
                                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="frompicker"></button>
                                <input type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="frompicker" [min]="fromminDate" [max]="frommaxDate" name="fromdate" [(ngModel)]="searchvalues.from">
                                <md-datepicker #frompicker></md-datepicker>	
                                </span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="from">To</label>
                                <span class="dp-container">
                                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="topicker"></button>
                                <input type="text" id="to" class="form-control fg-input mdatepicker" [mdDatepicker]="topicker" [min]="tominDate" [max]="maxDate" name="todate" [(ngModel)]="searchvalues.to">
                                <md-datepicker #topicker></md-datepicker>	
                                </span>					
                            </div>
                        </div>
                    </div>
                    <button type="submit"  class="btn btn-info waves-effect">Get Result</button>
                </div>
            </div>
        </div>
        <!-- <p>{{ filters.value | json}}</p> -->
    </form>

    <div class="card">
      <!-- <div class="card-header">
        <h2>Purchase Return Report <small>Total Purchase Return of your Company.</small></h2>
      </div> -->
      <!--<div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-collapse" *ngFor="let m of purchasereturn">
          <div role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{m.PCS_ID}}" aria-controls="collapseOne">Invoice Number : {{m.invoice_number}}</a>
            </h4>
          </div>
          <div id="collapseOne{{m.PCS_ID}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="col-sm-12" style= "height:auto;color:#666;">
                <div style="width:100%; padding:0px 0px;border-bottom:1px solid rgba(0,0,0,0.2);float:left;">
                  <div style="width:30%; float:left;padding:10px;">
                    <span style="font-size:14px;float:left; width:100%;">
                    <b>Dealer Name :</b> {{m.account_name}}
                    </span>
                    <span style="font-size:14px;float:left;width:100%;">
                    <b>Currency Conversion :</b> {{m.currency_convrsion_rate}}
                    </span>
                    <span style="font-size:14px;float:left;width:100%;">
                    <b>Country :</b> {{m.country}}
                    </span>
                    <span style="font-size:14px;float:left;width:100%;">
                    <b>Notes :</b> {{m.notes}}
                    </span>
                  </div>
                  <div style="width:40%; float:right;padding:">
                    <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                    <b>Date : </b>{{m.purchase_date}}
                    </span>
                    <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                    <b>Invoice# : </b>{{m.invoice_number}}
                    </span>
                  </div>
                </div>
                <div style="width:100%; padding:0px; float:left;">
                  <div style="width:100%;float:left;background:#efefef;">
                      <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;font-weight:600;">
                      Decription
                      </span>
                      <span style="font-weight:600;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                      Amount
                      </span>
                  </div>
                  <div style="width:100%;float:left;">
                      <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;">
                      Pcs ID : {{m.PCS_ID}}
                      <span style="font-size:10px; float:left; width:100%;">
                      Total Carats : {{m.total_diamond_carat}}
                      Total Picies : {{m.total_diamond_pcs}}
                      </span>
                      </span>
                      <span style="font-weight:normal;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                      ₹{{m.amount_INR}}(${{m.amount_dolar}})
                      </span>
                  </div>
                    
                  <div style="width:100%;float:left; background:#fff;">
                      <span style="font-weight:600;float:right;padding:10px 0px;width:40%;color:#666;text-align:center;">
                      Total : ₹{{m.amount_INR}}(${{m.amount_dolar}})
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="table-responsive">
        <table id="data-table-selection" class="table table-striped">
            <thead>
              <tr>
                <th data-column-id="pcsid">Pcs ID</th>
                <th data-column-id="id" data-type="numeric" data-identifier="true">Invoice Number</th>
                <th data-column-id="date">Date</th>
                <th data-column-id="dealerName">Dealer Name</th>
                <th data-column-id="totalcarats">Total Carats</th>
                <th data-column-id="totalpcs">Total Picies</th>
                <th data-column-id="amountINR">Amount INR</th>
                <th data-column-id="amountDOLLAR">Amount DOLLAR</th>
                <th data-column-id="currencyConversion">Currency Conversion Rate</th>
                <th data-column-id="notes">Notes</th>
                <th data-column-id="country">Country</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of purchasereturn">
                <td>{{m.PCS_ID}}</td>
                <td>{{m.invoice_number}}</td>
                <td>{{m.purchase_date}}</td>
                <td>{{m.account_name}}</td>
                <td>{{m.total_diamond_carat}}</td>
                <td>{{m.total_diamond_pcs}}</td>
                <td>{{m.amount_INR}}</td>
                <td>{{m.amount_dolar}}</td>
                <td>{{m.currency_convrsion_rate}}</td>
                <td>{{m.notes}}</td>
                <td>{{m.country}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

</dashboard>