<dashboard>
  
  <div class="container">
    
      <div class="block-header" style="overflow: hidden">
        <h2 style="display : inline-block">Purchase Return</h2>
        <button class="btn btn-info waves-effect pull-right" (click) = "export()" [disabled] = "purchasereturn.length == 0">Export as Excel</button>
    </div>

    
    <form #filters="ngForm" (ngSubmit)="onSubmit(filters)">
        <div class="card searchfilters">
            <div class="card-header">Filter</div>
            <div class="card-body card-padding">

                <md-radio-group [(ngModel)]="searchvalues.filter" class="main-filter" name="filter">
                <md-radio-button  class="radio-button" *ngFor="let option of searchatts.filter" [value]="option" >{{option}}</md-radio-button>
                </md-radio-group>
                <button *ngIf="searchvalues.filter=='all'"  type="submit" class="btn btn-info waves-effect">Get Result</button>
                <div class="filter-container" *ngIf="searchvalues.filter=='filter'">
                    <span>Filter By : </span>
                    <md-radio-group [(ngModel)]="searchvalues.filterby"  name="filterby">
                        <md-radio-button  class="radio-button" (click)="resetsearch()" *ngFor="let option of  searchatts.filterby" [value]="option">{{option}}</md-radio-button>
                    </md-radio-group>
                    <div *ngIf="searchvalues.filterby!='date'" class="search search-box">
                        <div class="input-group">
                            <input type="text" class="search-field form-control" #searchBox (keyup)="search(searchBox.value)" name="search" [(ngModel)]="searchvalues.search" [placeholder]="searchvalues.filterby | uppercase">
                            <div *ngIf="issearchempty()" class="search-suggestion">
                                <p *ngFor="let result of  searchresult" (click)="setvalue(result)">{{result}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="searchvalues.filterby=='date'" class="filter-date">
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="from">From</label>
                                <span class="dp-container">
                                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="frompicker"></button>
                                <input type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="frompicker" [min]="fromminDate" [max]="frommaxDate" name="fromdate" [(ngModel)]="searchvalues.from">
                                <md-datepicker #frompicker></md-datepicker>	
                                </span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="fg-line">
                                <label for="from">To</label>
                                <span class="dp-container">
                                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="topicker"></button>
                                <input type="text" id="to" class="form-control fg-input mdatepicker" [mdDatepicker]="topicker" [min]="tominDate" [max]="maxDate" name="todate" [(ngModel)]="searchvalues.to">
                                <md-datepicker #topicker></md-datepicker>	
                                </span>					
                            </div>
                        </div>
                    </div>
                    <button type="submit"  class="btn btn-info waves-effect">Get Result</button>
                </div>
            </div>
        </div>
        <!-- <p>{{ filters.value | json}}</p> -->
    </form>

    <div class="card">
      <div class="table-responsive">
        <table id="data-table-selection" class="table table-striped">
            <thead>
              <tr>
                <th data-column-id="pcsid">Pcs ID</th>
                <th data-column-id="id" data-type="numeric" data-identifier="true">Invoice Number</th>
                <th data-column-id="date">Date</th>
                <th data-column-id="dealerName">Dealer Name</th>
                <th data-column-id="totalcarats">Total Carats</th>
                <th data-column-id="totalpcs">Total Picies</th>
                <th data-column-id="amountINR">Amount INR</th>
                <th data-column-id="amountDOLLAR">Amount DOLLAR</th>
                <th data-column-id="currencyConversion">Currency Conversion Rate</th>
                <th data-column-id="notes">Notes</th>
                <th data-column-id="country">Country</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of purchasereturn">
                <td>{{m.Stock_ID}}</td>
                <td>{{m.invoice_number}}</td>
                <td>{{m.purchase_date}}</td>
                <td>{{m.account_name}}</td>
                <td>{{m.total_diamond_carat}}</td>
                <td>{{m.total_diamond_pcs}}</td>
                <td>{{m.amount_INR}}</td>
                <td>{{m.amount_dolar}}</td>
                <td>{{m.currency_convrsion_rate}}</td>
                <td>{{m.notes}}</td>
                <td>{{m.country}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

</dashboard>