<dashboard>
  <div class="container-fluid">
    <div class="block-header">
      <h2>Journal Entry</h2>
    </div>
    <div class="card">
      <div class="card-header"> 
      </div>
      <div class="card-body card-padding">
        <form #ac="ngForm" novalidate (ngSubmit)="onSubmit(ac)">
          <div class="container-fluid">
            <div class="row">          
           <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Voucher Number</p>
								<input type="text" class="form-control fg-input" name = "voucher" #voucher="ngModel" [(ngModel)]="cashbook.voucher">								
							</div>
						</div>
					</div>

          <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Voucher Amount</p>
								<input type="text" class="form-control fg-input" name = "vamount" #vamount="ngModel" [(ngModel)]="cashbook.amount">								
							</div>
						</div>
					</div>

          <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Voucher Type</p>
								<input type="text" class="form-control fg-input" name = "vtype" #vtype="ngModel" [(ngModel)]="cashbook.type">								
							</div>
						</div>
					</div>
          

          
          <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Voucher Date</p>
                <input type="text" class="form-control fg-input" readonly (focus)="picker.open()" [mdDatepicker]="picker" name="date" [(ngModel)]="cashbook.date">
                <md-datepicker #picker></md-datepicker>							
							</div>
						</div>
					</div>

          <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
                <p class="form-label">Voucher Description</p>
								<input type="text" class="form-control fg-input" name = "vdesc" #vtype="ngModel" [(ngModel)]="cashbook.description">								
							</div>
						</div>
          </div>

          <div class="col-sm-2">
						<div class="form-group">
              <p class="form-label">Company name</p>
              <ng-select [items]="options.company_name" (selected)="selectedcompany($event)"  (removed)="removed($event)" placeholder="No Company Selected"></ng-select>
            </div>
          </div>

          <div class="col-sm-2">
						<div class="form-group">
              <p class="form-label">By</p>
              <ng-select [disabled]="!cashbook.company_name"  [items]="options.transaction_mode" (selected)="selectedby($event)"  (removed)="removed($event)" ></ng-select>
            </div>
          </div>

          <div *ngIf="cashbook.transaction_mode==='cheque'">
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Bank</p>
                  <ng-select [items]="options.bank" [active]="options.bank" (selected)="selectedbank($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Bank Branch</p>
                  <ng-select [items]="options.bank_branch" [active]="options.bank_branch" (selected)="selectedbankbranch($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Account Number</p>
                  <ng-select [items]="options.account_number" [active]="options.account_number" (selected)="selectedaccountnumber($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Cheque No</p>
                  <input type="text" class="form-control fg-input" name = "cheque_no" [(ngModel)]="cashbook.cheque_no">	
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="cashbook.transaction_mode==='bank transfer'">
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Bank</p>
                  <ng-select [items]="options.bank" [active]="options.bank" (selected)="selectedbank($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Bank Branch</p>
                  <ng-select [items]="options.branch" [active]="options.branch" (selected)="selectedbankbranch($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Account Number</p>
                  <ng-select [items]="options.account_number" [active]="options.account_number" (selected)="selectedaccountnumber($event)"></ng-select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="fg-line">
                  <p class="form-label">Cheque No</p>
                  <input type="text" class="form-control fg-input" name = "cheque_no" [(ngModel)]="cashbook.cheque_no">	
                </div>
              </div>
            </div>
          </div>


          

          <div class="col-sm-12">
          <button class="btn btn-success waves-effect"[disabled]="!ac.valid" type="submit">Add Entry</button>
          </div>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</dashboard>
