<dashboard>
  <div class="container">
    <div class="block-header">
      <h2>Payables</h2>
    </div>
    <form #filters="ngForm" (ngSubmit)="onSubmit(filters)">
    <div class="card searchfilters">
      <div class="card-header">Filter</div>
      <div class="card-body card-padding">
         
            <div class="col-sm-2">
						<div class="form-group">
							<div class="fg-line">
						
                <p class="form-label">Party Name</p>
                <ng-select [items]="account_name" (selected)="selectedparty($event)"  (removed)="removed($event)" placeholder="No Party Selected"></ng-select>
												
							</div>
						</div>
					</div>
         


          <button type="submit"  class="btn btn-info waves-effect">Get Result</button>
          
        </div>
      </div>
    <!--<p>{{ filters.value | json}}</p>-->
    </form>

    <div class="card">
      <div class="card-header">Reports</div>
    <div class="card-body  table-responsive">
      <table class="table" *ngIf="data.purchase">
        <caption>Purchase Report</caption>
        <thead>
          <tr>
            <th *ngFor="let title of titles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data.purchase">
            <td>{{data.transaction_date}}</td>
            <td>{{data.invoice_number}}</td>
            <td>{{data.debit_INR}}</td>
            <td>{{data.credit_INR}}</td>
          </tr>
        </tbody>
      </table>



      <table class="table" *ngIf="data.sales">
        <caption>Sales Report</caption>
        <thead>
          <tr>
            <th *ngFor="let title of titles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data.sales">
            <td>{{data.transaction_date}}</td>
            <td>{{data.invoice_number}}</td>
            <td>{{data.debit_INR}}</td>
            <td>{{data.credit_INR}}</td>
          </tr>
        </tbody>
      </table>

      
    </div>
    </div>
  </div>
</dashboard>
