<dashboard>
  <div class="container-fluid">
    <div class="block-header">
      <h2>Receivables</h2>
    </div>
    <form #filters="ngForm" (ngSubmit)="onSubmit(filters)">
    <div class="card searchfilters">
      <div class="card-body card-padding">

        <md-radio-group [(ngModel)]="searchvalues.filter" class="main-filter" name="receivable">
          <md-radio-button  class="radio-button" *ngFor="let option of searchatts.filter" [value]="option" >{{option}}</md-radio-button>
        </md-radio-group>
  
        <button *ngIf="searchvalues.filter=='all'"  type="submit" class="btn btn-info waves-effect main-result">Get Result</button>

        <div class="filter-container" *ngIf="searchvalues.filter=='filter'">

          <span>Filter By : </span>
         

          <md-radio-group [(ngModel)]="searchvalues.filterby" name="filterby">
            <md-radio-button  class="radio-button" *ngFor="let option of  searchatts.filterby" (change)="resetsearch()" [value]="option[1]">{{option[0]}}</md-radio-button>
          </md-radio-group>

          <div *ngIf="searchvalues.filterby!='date'" class="search search-box">
            <div class="input-group">
              <input type="text" class="search-field form-control" #searchBox (keyup)="search(searchBox.value)" name="search" [(ngModel)]="searchvalues.search" placeholder="Search">
              <div *ngIf="issearchempty()" class="search-suggestion">
                  <p *ngFor="let result of  searchresult" (click)="setvalue(result)">{{result}}</p>
              </div>
            </div>
          </div>

          <div *ngIf="searchvalues.filterby=='date'" class="filter-date">

            <div class="input-group">
            <div class="fg-line">
                <label for="from">From</label>
                <span class="dp-container">
                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="picker"></button>
                <input type="text" id="from" class="form-control fg-input mdatepicker" [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" name="fromdate" [(ngModel)]="searchvalues.from">
                <md-datepicker #picker></md-datepicker>	
                </span>					
							</div>
            </div>

            <div class="input-group">
            <div class="fg-line">
                <label for="from">To</label>
                <span class="dp-container">
                <button class="input-group-addon last" mdSuffix [mdDatepickerToggle]="pickers"></button>
                <input type="text" id="to" class="form-control fg-input mdatepicker" [mdDatepicker]="pickers" [min]="minDate" [max]="maxDate" name="todate" [(ngModel)]="searchvalues.to">
                <md-datepicker #pickers></md-datepicker>	
                </span>					
							</div>
            </div>
          </div>
          <button type="submit"  class="btn btn-info waves-effect">Get Result</button>
          
        </div>
      </div>
    </div>
    <!-- <p>{{ filters.value | json}}</p> -->
    </form>

    <div class="card" *ngIf="data.accounts">
      <!--<div class="card-header">Reports</div>-->
    <div class="card-header  table-responsive">
      <div  *ngFor="let datas of data.accounts" class="table">
                  <div class="titles">
                    <p>Party Name :</p>
                    <p>{{datas.account_name}}</p>
                  </div>
                  <div class="titles">
                    <p>Total Amount :</p>
                   <p>{{datas.account_sum}}</p>
                  </div>
                   
                    
                  
                  <table class="table table-bordered">
                    <thead class="thead-inverse">
                      <tr>
                          <th>invoice number</th>
                          <th>date of invoice</th>
                          <th>invoice amount</th>
                          <th> amount received</th>
                          <th>balance amount</th>
                          <th>due date</th>
                          <th>due days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of datas.account_invoices" class="invoice-data">
                        <td>{{data.invoice_number}}</td>
                        <td>{{data.date }}</td>
                        <td style="text-align: right">{{data.invoice_value}}</td>
                        <td style="text-align: right">{{data.received}}</td>
                        <td style="text-align: right">{{data.balance}}</td>
                        <td>{{data.due_date }}</td>
                        <td>{{data.due_date | days}}</td>
                      </tr>
                    </tbody>
                  </table>
          
    </div>
    </div>
    </div>
  </div>
</dashboard>
